<!-- INCLUDE overall_header.html -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_PLATFORM}</th>
		<th>{L_LADDERS}</th>
	</tr>
	<!-- BEGIN block_platforms -->
	<tr class="genmed">
		<td class="{block_platforms.ROW_COLOR}" align="center" width="10%"><b>#{block_platforms.COUNT}</b>
		<td class="{block_platforms.ROW_COLOR}"><a href="{block_platforms.U_ACTION}">{block_platforms.PLATFORM_NAME}</a></td>
		<td class="{block_platforms.ROW_COLOR}" align="center">{block_platforms.NUM_LADDERS}</td>
	</tr>
	<!-- END block_platforms -->
	<tr>
		<td class="cat" colspan="3">&nbsp;</td>
	</tr>
</table>
</form>
<!-- INCLUDE overall_footer.html -->
