<!-- INCLUDE simple_header.html -->
<script type="text/javascript">
function refresh_group(selected_group)
{
	opener.document.forms['make_challenge'].challengee.value = selected_group;
	opener.focus();
	window.close();
}
</script>
<form action="{U_ACTION}" method="post">
<div class="forumbg forumbg-table">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="1">
			<tbody>
				<tr class="bg1">
					<td class="row1"><input type="text" name="group_search" size="25" /></td>
					<td class="row2"><input type="submit" name="submit" value="{L_SUBMIT}" /></td>
				</tr>
				<!-- BEGIN block_groups -->
				<tr class="bg2">
					<td class="{block_groups.ROW_COLOR}">
						<strong><a href="{block_groups.U_GROUP}" target="_blank">{block_groups.GROUP_NAME}</a></strong>
					</td>
					<td class="{block_groups.ROW_COLOR}">
						<a href="#" onClick="javascript:refresh_group({block_groups.GROUP_ID});">{L_CHALLENGE}</a>
					</td>
				</tr>
				<!-- BEGINELSE -->
				<tr class="bg2">
					<td class="row1" colspan="2">{L_NO_GROUPS_FOUND}</td>
				</tr>
				<!-- END block_groups -->
				</tr>
			</tbody>
		</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</form>
<!-- INCLUDE simple_footer.html -->
