<!-- INCLUDE ucp_header.html -->
<table class="tablebg" width="100%" cellspacing="1">
	<form action="{U_ACTION}" method="post">
	<tr>
		<th>{L_INVITE_USER}</th>
	</tr>
	<tr class="genmed">
		<td class="row2">
			<input type="text" name="member_id" id="member_id" class="inputbox autowidth" />
		</td>
	</tr>
	<tr>
		<td class="cat" align="center">
			<input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" />
		</td>
	</tr>
	</form>
</table>
<!-- INCLUDE ucp_footer.html -->
