<!-- INCLUDE ucp_header.html -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_UNREPORTED_TOURNAMENTS}</th>
	</tr>
	<tr class="genmed">
		<td class="row3" align="center">{L_TOURNAMENT}</td>
		<td class="row3" align="center">{L_OPTIONS}</td>
	</tr>
	<!-- BEGIN block_unreported -->
	<tr class="genmed">
		<td class="{block_unreported.ROW_COLOR}">
			<b>{block_unreported.TOURNAMENT_NAME} vs {block_unreported.OPPONENT}</b>
		</td>
		<td class="{block_unreported.ROW_COLOR}"><a href="{block_unreported.U_REPORT_WIN}">{L_REPORT_WIN}</a></td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="genmed">
		<td class="row1" colspan="2">{L_NO_TOURNAMENTS}</td>
	</tr>
	<!-- END block_unreported -->
	<tr>
		<td class="cat" align="center" colspan="2">&nbsp;</td>
	</tr>
</table>
<br />
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_REPORTED_TOURNAMENTS}</th>
	</tr>
	<tr class="genmed">
		<td class="row3" align="center">{L_TOURNAMENT}</td>
		<td class="row3" align="center">{L_OPTIONS}</td>
	</tr>
	<!-- BEGIN block_reported -->
	<tr class="genmed">
		<td class="{block_reported.ROW_COLOR}">
			<b>{block_reported.TOURNAMENT_NAME} vs {block_reported.OPPONENT}</b>
		</td>
		<td class="{block_reported.ROW_COLOR}"><a href="{block_reported.U_CONFIRM_WIN}">{L_CONFIRM_WIN}</a> / <a href="{block_reported.U_CONTEST_RESULT}">{L_CONTEST_RESULT}</a></td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="genmed">
		<td class="row1" colspan="2">{L_NO_TOURNAMENTS}</td>
	</tr>
	<!-- END block_reported -->
	<tr>
		<td class="cat" align="center" colspan="2">&nbsp;</td>
	</tr>
</table>
<!-- INCLUDE ucp_footer.html -->
