<!-- INCLUDE simple_header.html -->
<script type="text/javascript">
function refresh_group(selected_group)
{
	opener.document.forms['make_challenge'].challengee.value = selected_group;
	opener.focus();
	window.close();
}
</script>
<form action="{U_ACTION}" method="post">
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<fieldset>
			<dl>
				<dt><input type="text" name="group_search" /></dt>
				<dd><input type="submit" name="submit" value="{L_SUBMIT}" /></dd>
			</dl>
			<dl>
				<!-- BEGIN block_groups -->
				<dt>
					<strong><a href="{block_groups.U_GROUP}" target="_blank">{block_groups.GROUP_NAME}</a></strong>
				</dt>
				<dd>
					<a href="#" onClick="javascript:refresh_group({block_groups.GROUP_ID});">{L_CHALLENGE}</a>
				</dd>
				<!-- BEGINELSE -->
				<dt>{L_NO_GROUPS_FOUND}</dt>
				<!-- END block_groups -->
			</dl>
		</fieldset>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</form>
<!-- INCLUDE simple_footer.html -->
