# 
# @package phpBB3 Portal  a.k.a canverPortal  ( www.phpbb3portal.com )
# @version $Id: .htaccess,v 1.7 2008/02/09 08:18:13 angelside Exp $
# @copyright (c) Canver Software - www.canversoft.net
# @license http://opensource.org/licenses/gpl-license.php GNU Public License 
# 

#
# Uncomment the statement below if you want to make use of
# HTTP authentication and it does not already work.
# This could be required if you are for example using PHP via Apache CGI.
#
#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#</IfModule>

<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>

Options +FollowSymLinks 
RewriteEngine on 
RewriteCond %{HTTP_HOST} ^zerozaku.com [NC] 
RewriteRule ^(.*)$ http://www.zerozaku.com/$1 [L,R=301] 
RewriteRule ^(.*)\.zz$ $1.php [L] 
