/* CSS for the Knowledge Base */
textarea.desc {
	width: 40%;
}

/* Rating styles */
.star-rating
{
	list-style:none;
	margin-left:5px!important;
	padding:0px;
	width: 150px;
	height: 25px;
	position: relative;
	background: url("{T_THEME_PATH}/images/rate_star.gif") top left repeat-x;		
}

.star-rating li
{
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}

.star-rating li a
{
	display:block;
	width:25px;
	height: 25px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}

.star-rating li a:hover
{
	background: url("{T_THEME_PATH}/images/rate_star.gif") left bottom;
	z-index: 2;
	left: 0px;
}

.star-rating a.one-star
{
	left: 0px;
}

.star-rating a.one-star:hover
{
	width:25px;
}

.star-rating a.two-stars
{
	left:25px;
}

.star-rating a.two-stars:hover
{
	
	width: 50px;
}

.star-rating a.three-stars
{
	left: 50px;
}

.star-rating a.three-stars:hover
{
	width: 75px;
}

.star-rating a.four-stars
{
	left: 75px;
}	

.star-rating a.four-stars:hover
{
	width: 100px;
}

.star-rating a.five-stars
{
	left: 100px;
}

.star-rating a.five-stars:hover
{
	width: 125px;
}

.star-rating a.six-stars
{
	left: 125px;
}

.star-rating a.six-stars:hover
{
	width: 150px;
}

.star-rating li.current-rating
{
	background: url("{T_THEME_PATH}/images/rate_star.gif") left center;
	position: absolute;
	height: 25px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}

/**
* Left menu
*/
#left_menu {
	vertical-align: top;
}

#right_menu {
	vertical-align: top;
}

.left_menu_title {
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	padding: 1px 0 5px 0;
}

.cat_menu_title {
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	padding: 1px 0 5px 0;
}

#kb_searchform {
	color: #FFFFFF;
	margin-top: 5px;
	white-space: nowrap;
}

/* MCP Specific tweaks */
.mcp-main .kb-mcp-postbody {
	width: 76%;
}

.addthis_toolbox .custom_images a
{
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}

.article-icon span		{ background: transparent none 0 0 no-repeat; }
.buttons div.article-icon		{ width: {IMG_BUTTON_ARTICLE_NEW_WIDTH}px; height: {IMG_BUTTON_ARTICLE_NEW_HEIGHT}px; }
.article-icon span		{ background-image: url("{IMG_BUTTON_ARTICLE_NEW_SRC}"); }

.comment-icon span		{ background: transparent none 0 0 no-repeat; }
.buttons div.comment-icon		{ width: {IMG_BUTTON_COMMENT_NEW_WIDTH}px; height: {IMG_BUTTON_COMMENT_NEW_HEIGHT}px; }
.comment-icon span		{ background-image: url("{IMG_BUTTON_COMMENT_NEW_SRC}"); }

.icon-kb {
	background-image: url("{T_THEME_PATH}/images/icon_kb.gif");
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 23px;
}