<!-- INCLUDE overall_header.html -->

<div id="tabs">
	<ul>
		<li><a href="./points.php?i={USER_ID}"><span>{L_POINTS_OVERVIEW}</span></a></li>
		<!-- IF POINTS_TRANSFER --><li ><a href="./points.php?mode=transfer&i={USER_ID}"><span>{L_POINTS_TRANSFER}</span></a></li><!-- ENDIF -->
		<!-- IF POINTS_LOGS --><li class="activetab"><a href="./points.php?mode=logs&i={USER_ID}"><span>{L_POINTS_LOGS}</span></a></li><!-- ENDIF -->
		<!-- IF LOTTERY_ENABLE --><li ><a href="./points.php?mode=lottery"><span>{L_POINTS_LOTTERY}</span></a></li><!-- ENDIF -->
    <!-- IF BANK_ENABLE --><li ><a href="./points.php?mode=bank"><span>{L_POINTS_BANK}</span></a></li><!-- ENDIF -->
		<!-- IF POINTS_ROBBERY --><li ><a href="./points.php?mode=robbery"><span>{L_POINTS_ROBBERY}</span></a></li><!-- ENDIF -->
   </ul>
</div>

<div class="panel bg3">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div style="width: 100%;">
			<div id="cp-main" class="ucp-main">
				<h2>{L_POINTS_LOGS}</h2>
				<div class="panel">
					<div class="inner">
						<span class="corners-top"><span></span></span>
						<p>
							<table class="tablebg" cellspacing="1" width="100%" cellpadding="4" border="0">
								<thead>
									<tr>
										<th class="bg3" width="20%"><a href="points.php?mode=logs&i={USER_ID}&sort_key=date&sort_dir={DIR}&start={OFFSET}">{L_POINTS_LOGS_DATE}</a></th>
										<th class="bg3" width="10%"><a href="points.php?mode=logs&i={USER_ID}&sort_key=type&sort_dir={DIR}&start={OFFSET}">{L_POINTS_LOGS_TYPE}</a></th>
										<th class="bg3" width="15%"><a href="points.php?mode=logs&i={USER_ID}&sort_key=who&sort_dir={DIR}&start={OFFSET}">{L_POINTS_LOGS_WHO}</a></th>
										<th class="bg3" width="20%"><a href="points.php?mode=logs&i={USER_ID}&sort_key=to&sort_dir={DIR}&start={OFFSET}">{L_POINTS_LOGS_TO}</a></th>
										<th class="bg3" width="35%"><a href="points.php?mode=logs&i={USER_ID}&sort_key=comment&sort_dir={DIR}&start={OFFSET}">{L_POINTS_LOGS_COMMENT}</a></th>
									</tr>
								</thead>
								<tbody>
									<!-- BEGIN logs -->
										<tr class="bg{logs.ROW}">
											<td>{logs.DATE}</td>
											<td>{logs.TYPE}</td>
											<td>{logs.WHO}</td>
											<td>{logs.TO}</td>
											<td>{logs.COMMENT}</td>
										</tr>
									<!-- BEGINELSE -->
									<tr class="row3">
										<td colspan="5"><b class="genmed">{L_POINTS_LOGS_REASON_NOLOGS}</b></td>
									</tr>
									<!-- END logs -->
									<tr cellspacing="0" class="row2">
										<form method="get">
											<input type="hidden" name="mode" value="logs">
											<input type="hidden" name="i" value="{USER_ID}">
											<td colspan="4" width="50%">
												{L_POINTS_LOGS_SORTITEMS}
												<select name="sort_key">
													<option value="date">{L_POINTS_LOGS_DATE}</option>
													<option value="type">{L_POINTS_LOGS_TYPE}</option>
													<option value="who">{L_POINTS_LOGS_WHO}</option>
													<option value="to">{L_POINTS_LOGS_TO}</option>
													<option value="comment">{L_POINTS_LOGS_COMMENT}</option>
												</select>
												{L_POINTS_LOGS_DIRECTION}
												<select name="sort_dir">
													<option value=0>{L_POINTS_LOGS_DESC}</option>
													<option value=1>{L_POINTS_LOGS_ASC}</option>
												</select>
												<input type="hidden" name="start" value="{OFFSET}">
												<input class="button2" type="submit" name="submit" id="submit" value="Sort" /></form>
											</td>
											<td align="right" colspan="2">
												{POINTS_LOGS_PAGINATION}
											</td>
										</form>
									</tr>
								</tbody>
							</table>	
						</p>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<span class="corners-bottom"><span></span></span></div>
</div>

<br /><div align="center"><b><i>Advanced Points v{POINT_VERS}</i></b></div>
<div align="center">{L_IPOINTS_THANKS}</div><br />

<!-- INCLUDE overall_footer.html -->
