<!-- INCLUDE overall_header.html -->

<div class="panel bg3">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<div id="cp-main" class="ucp-main">
					<div class="panel">
						<div class="inner"><span class="corners-top"><span></span></span>
						<br clear="all"/>
						<form action="{S_ACTION}" method="post">
							<div class="panel>
								<div class="column1">
								</div>
								<div class="column2">
									<dl class="details">
										<br /><td>New userfont:  <input type="text" class="inputbox" name="redx1" value="{USER_FONT}"/></td>
										<br /><td>
 New usercolor:
<form>

<table>
	<tr>
		<td><input type="text" class="inputbox" size="10" maxlength="7" name="rgb2" value="{USER_COLORS}"></td>
		<td><input type="button" value="Color picker" onclick="showColorPicker(this,document.forms[1].rgb2)"></td>
	</tr>
</table>

</form>
										<fieldset class="submit-buttons">
										{S_HIDDEN_FIELDS}
										<input type="submit" accesskey="s" tabindex="6" name="submit" value="Use" class="button1" />&nbsp;
										</fieldset>  
									</dl>
								</div>
							</div>
						<span class="corners-bottom"><span></span></span></div>
					</div>
					</form>
					<br clear="all"/>				
		<span class="corners-bottom"><span></span></span>
	</div>	
</div>

<br /><div align="center"><b><i><a href="http://phpbbgods.org">Shop Mod Beta4</a></i></b></div>


<!-- INCLUDE overall_footer.html -->
