<!-- INCLUDE overall_header.html -->
 <h2 class="solo">{L_SHOP_TITLE}</h2>

<div class="forumbg forumbg-table">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<table class="table1" cellspacing="1">
	<thead>
	<tr>
		<th class="name">{L_ICON}</th>
		<th class="name">{L_NAME}</th>
		<th class="name">{L_ITEM_DESC}</th>
<!-- BEGIN switch_grouped -->
		<th class="name">{L_OWNED}</th>
<!-- END switch_grouped -->
<!-- BEGIN switch_move -->
		<th class="name">{L_SHOP_MOVE}</th>
<!-- END switch_move -->
	</tr>
	</thead>

	<tbody>
<!-- BEGIN list_wrapped -->
	<tr class="bg1">
	  <td class="{list_wrapped.ROW_NUM}"><span class="gensmall"><img src="shop/images/wrapped/{list_wrapped.WRAPPED}.jpg" title="{list_wrapped.WRAPPED}" alt="{list_wrapped.WRAPPED}"></span></td>
	  <td class="{list_wrapped.ROW_NUM}"><span class="gensmall">{list_wrapped.WRAPPED}</span></td>
	  <td class="{list_wrapped.ROW_NUM}"><span class="gensmall">{L_SHOP_WRAPPED_DESC}{list_wrapped.WRAPPED_LINK}{list_wrapped.DECAY_TIME}</td>
	  {list_wrapped.AMOUNT}
	  {list_wrapped.MOVE}
	</tr>
<!-- END list_wrapped -->
<!-- BEGIN list_items -->
	<tr class="bg1">
	  <td class="row2"><span class="gensmall">{list_items.ITEM_ICON}</span></td>
	  <td class="row2"><span class="gensmall">{list_items.LINK}{list_items.ITEM_NAME}</a></span></td>
	  <td class="row2"><span class="gensmall">{list_items.ITEM_L_DESC} {list_items.ENCHANTED} {list_items.TIME_LEFT}</td>
	  {list_items.AMOUNT}
	  {list_items.MOVE}
	</tr>
<!-- END list_items -->
</tbody>
	</table>

	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- BEGIN switch_is_action -->
<br />
	<tr> 
	  <th class="thHead" colspan="3"><center><b>{L_SHOP_ACTIONS}</b></center></th>
	</tr>
	<tr>
<!-- END switch_is_action -->

<div class="panel">
<tr>
<!-- BEGIN list_ability -->
	<td class="row2" align="center"><center><a href="{list_ability.U_ABILITY}" class="nav">{list_ability.L_ABILITY}</a></center></td>
<!-- END list_ability -->
<!-- BEGIN switch_is_action -->
	</tr>
  </table>
<!-- END switch_is_action -->
<!-- BEGIN switch_has_trade -->
<br />
	<tr> 
	  <th class="thHead" colspan="3">{L_SHOP_TRADE_ACTIONS}</th>
	</tr>
	<tr>
	  <td class="row2" colspan="2" align="center"><span class="gensmall"><b>{switch_has_trade.USERNAME} {switch_has_trade.L_PROPOSED_TRADE}</b></span></td></tr>
	<tr>
	  <td class="row2" colspan="1"><span class="gensmall">{switch_has_trade.L_OFFERING}:</td>
	  <td class="row2" colspan="1"><span class="gensmall">{switch_has_trade.TRADE_ITEMS} {switch_has_trade.L_AND} {switch_has_trade.TRADE_GOLD} {L_POINTS_NAME}</span></td>
	</tr>
	<tr>
	  <td class="row2" colspan="1"><span class="gensmall">{switch_has_trade.L_WANTS}:</td>
	  <td class="row2" colspan="1"><span class="gensmall">{switch_has_trade.WANT_ITEMS} {switch_has_trade.L_AND} {switch_has_trade.WANT_GOLD} {L_POINTS_NAME}</span></td>
	</tr>
	<tr>
	  <td class="row2" align="center" width="50%"><a href="{switch_has_trade.U_ACCEPT_TRADE}" class="nav">{switch_has_trade.L_ACCEPT_TRADE}</a></td>
	  <td class="row2" align="center" width="50%"><a href="{switch_has_trade.U_REFUSE_TRADE}" class="nav">{switch_has_trade.L_REFUSE_TRADE}</a></td>
	</tr>
<!-- END switch_has_trade -->
<span class="corners-bottom"><span></span></span></div>
</div>

<br />
 <div class="panel">
<tr> 
	  <th class="thHead" colspan="2">{L_SHOP_PERSONAL_INFO}:</th>
	</tr>
	<div class="inner"><span class="corners-top"><span></span></span>
        <a href="{U_INVENTORY}" class="gensmall">[{L_SHOP_YOUR_INV}]</a> 
	   <br>{L_YOU_HAVE}: {USER_POINTS} {POINTS_NAME}

	<span class="corners-bottom"><span></span></span></div>
</div>

    <table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr>
		<td width="100%" align="center" class="row1"><br /><span class="gensmall">{L_SHOP_RIGHT1}<br/>{L_SHOP_RIGHT2}</span><br /><br /></td>
	</tr>
  </table>
<br	clear="all" />
<!-- INCLUDE overall_footer.html -->
