<!-- INCLUDE overall_header.html -->
  <h2 class="solo">{L_SHOP_TITLE}</h2>

 <div class="forumbg forumbg-table">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<table class="table1" cellspacing="1">
	<thead>
	<tr>
		<th class="name">{L_ICON}</th>
		<th class="name">{L_NAME}</th>
		<th class="name">{L_ITEM_DESC}</th>
		<th class="name">{L_ITEM_STOCK}</th>
		<th class="name">{L_ITEM_COST}</th>
		<th class="name">{L_OWNED}</th>
	</tr>
	</thead>

	<tbody>
	<tr class="bg1">
	  <td class="row1">{ITEM_ICON}</td>
	  <td class="row2"><span class="gensmall"><b><a href="{listrow.URL}" class="gensmall"><b>{ITEM_NAME}</a><b></span></td>
	  <td class="row2"><span class="gensmall">{ITEM_LDESC}</span></td>
	  <td class="row2"><span class="gensmall">{ITEM_STOCK}</span></td>
	  <td class="row2"><span class="gensmall">{ITEM_COST}</span></td>
	  <td class="row2"><span class="gensmall">{USER_AMOUNT}</span></td>
	</tr>
</tbody>
	</table>

	<span class="corners-bottom"><span></span></span></div>
</div>
 <div class="panel">
<tr> 
<!-- BEGIN switch_multi_items -->
	<tr>
	  <td colspan="6" class="row1"><span class="gen"><b><a href="{switch_multi_items.BUY_URL}" title="{L_BUY} {switch_multi_items.NAME}"><img src="shop/images/buy.jpg" border="0"> </a></b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a href="{switch_multi_items.SELL_URL}" title="{L_SELL} {switch_multi_items.NAME}"><img src="shop/images/sell.jpg" border="0"> </a></b></td>
	</tr>
<!-- END switch_multi_items -->
<!-- BEGIN switch_multi_ops -->
	<tr>
	  <td colspan="6" class="row1"><span class="gen"><b><a href="{switch_multi_ops.URL}" title="{switch_multi_ops.ACTION} {switch_multi_ops.NAME}"> 
<!-- END switch_multi_ops -->
<!-- BEGIN switch_multi_ops_buy -->

<!-- END switch_multi_ops_buy -->
<!-- BEGIN switch_multi_ops_sell -->

<!-- END switch_multi_ops_sell -->
<!-- BEGIN switch_multi_ops -->
 <span class="gen"><b><a href="{switch_multi_ops.URL}" title="{L_BUY} {switch_multi_ops.NAME}"><img src="shop/images/buy.jpg" border="0"> </a></b></tr>
<!-- END switch_multi_ops -->
<span class="corners-bottom"><span></span></span></div>
</div>

<br />
 <div class="panel">
<tr> 
	  <th class="thHead" colspan="2">{L_SHOP_PERSONAL_INFO}:</th>
	</tr>
	<div class="inner"><span class="corners-top"><span></span></span>
        <a href="{USER_INVENTORY}" class="gensmall">[{L_SHOP_YOUR_INV}]</a> 
	   <br>{L_YOU_HAVE}: {USER_POINTS} {POINTS_NAME}

	<span class="corners-bottom"><span></span></span></div>
</div>

    <table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr>
		<td width="100%" align="center" class="row1"><br /><span class="gensmall">{L_SHOP_RIGHT1}<br/>{L_SHOP_RIGHT2}</span><br /><br /></td>
	</tr>
  </table>
<br	clear="all" />

<!-- INCLUDE overall_footer.html -->