<!-- INCLUDE overall_header.html -->
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr> 
	  <td align="left"><span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a>{SHOPLOCATION}</span></td>
	</tr>
  </table>
<table cellspacing="1">
<col class="col1" /><col class="col1" /><col class="col2" /><col class="col2" /><col class="col2" />
<tbody>
	<tr> 
	  <th class="thHead" colspan="3">{L_SHOP_DISTRICT_LIST}</th>
	</tr>
	 <tr>
	  <th><b>{L_SHOP_DISTRICT_NAME}</b></th>
	  <th><b>{L_SHOP_DISTRICT_TYPE}</b></th>
	</tr>
<!-- BEGIN district_list -->
	<tr>
	  <td class="{district_list.ROW_NUM}"><a href="{district_list.URL}" title="{district_list.DISTRICT_NAME}" class="nav">{district_list.DISTRICT_NAME}</a></td>
	  <td class="{district_list.ROW_NUM}"><span class="gensmall">{district_list.DISTRICT_TYPE}</span></td>
	</tr>
<!-- END district_list -->
<!-- BEGIN switch_no_districts -->
	<tr>
	  <td class="row1" colspan="2"><span class="gensmall"><b>{L_SHOP_NO_DISTRICTS}</b></span></td>
	</tr>
<!-- END switch_no_districts -->
  </tbody>
</table>
<!-- BEGIN switch_open_shops -->
<br />
<table cellspacing="1">
<col class="col1" /><col class="col1" /><col class="col2" /><col class="col2" /><col class="col2" />
<tbody>
	<tr> 
	  <th class="thHead" colspan="3">{L_SHOP_LIST}</th>
	</tr>
	 <tr>
	  <td class="row3"><span class="gen"><b>{L_SHOP_NAME}</b></span></td>
	  <td class="row3"><span class="gen"><b>{L_SHOP_TYPE}</b></span></td>
<!-- END switch_open_shops -->
<!-- BEGIN switch_owners -->
	  <td class="row3"><span class="gen"><b>{L_SHOP_OWNER}</b></span></td>
<!-- END switch_owners -->
<!-- BEGIN switch_open_shops -->
	</tr>
<!-- END switch_open_shops -->
<!-- BEGIN shop_owner_list -->
	<tr>
	  <td class="{shop_owner_list.ROW_NUM}"><a href="{shop_owner_list.URL}" title="{shop_owner_list.SHOP_NAME}" class="nav">{shop_owner_list.SHOP_NAME}</a></td>
	  <td class="{shop_owner_list.ROW_NUM}"><span class="gensmall">{shop_owner_list.SHOP_TYPE}</span></td>
	  <td class="{shop_owner_list.ROW_NUM}"><span class="gensmall">{shop_owner_list.SHOP_OWNER}</span></td>
	</tr>
<!-- END shop_owner_list -->
<!-- BEGIN shop_list -->
	<tr>
	  <td class="{shop_list.ROW_NUM}"><a href="{shop_list.URL}" title="{shop_list.SHOP_NAME}" class="nav">{shop_list.SHOP_NAME}</a></td>
	  <td class="{shop_list.ROW_NUM}"><span class="gensmall">{shop_list.SHOP_TYPE}</span></td>
	</tr>
<!-- END shop_list -->
<!-- BEGIN switch_open_shops -->
    </tbody>
</table>
<!-- END switch_open_shops -->
<br />
  <table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr> 
	  <th class="thHead" colspan="2">{L_SHOP_PERSONAL_INFO}</th>
	</tr>
	<tr>
	  <td class="row1" width="50%"><span class="gensmall"><a href="{U_INVENTORY}" class="gensmall">{L_SHOP_YOUR_INV}</a></span></td>
	  <td class="row1" align="right" width="50%"><span class="gensmall">{USER_POINTS} {L_POINTS_NAME}</span></td>
	</tr>
  </table>
  <table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr>
		<td width="100%" align="center" class="row1"><br /><span class="gensmall">{L_SHOP_RIGHT1}<br/>{L_SHOP_RIGHT2}</span><br /><br /></td>
	</tr>
  </table>
<br	clear="all" />
<!-- INCLUDE overall_footer.html -->
