<!-- INCLUDE overall_header.html -->
 <h2 class="solo">{L_SHOP_TITLE}</h2>
	<tr>
	  <td colspan="6" class="row1"><span class="gen"><center><b><i>{L_EXPLAIN}</i></b></center></span></td>
	</tr>
	<tr>
	  <td colspan="6" class="row3"><br /></td>
	</tr>

<div class="forumbg forumbg-table">
	<div class="inner"><span class="corners-top"><span></span></span>
	<table class="table1" cellspacing="1">
	<thead>
	<tr>
		<th class="name">{L_ICON}</th>
		<th class="name">{L_NAME}</th>
		<th class="name">{L_ITEM_DESC}</th>
		<th class="name">{L_ITEM_STOCK}</th>
		<th class="name">{L_ITEM_COST}</th>
		<th class="name">{L_ITEM_COST}</th>

	</tr>
	</thead>

	<tbody>
	<tr class="bg1">
	  <td class="row1">{ITEM_ICON}</td>
	  <td class="row1"><span class="gensmall"><b>{ITEM_NAME}</b></a></span></td>
	  <td class="row1"><span class="gensmall">{ITEM_LDESC}</span></td>
	  <td class="row1"><span class="gensmall">{ITEM_STOCK}</span></td>
	  <td class="row1"><span class="gensmall">{ITEM_COST}</span></td>
	  <td class="row1"><span class="gensmall">{OWNED_AMOUNT}</span></td>
		</tr>
</tbody>
	</table>

	<span class="corners-bottom"><span></span></span></div>
</div>

	<br />
<div class="panel">
<tr> 
	  <th class="thHead" colspan="2">{L_SHOP_PERSONAL_INFO}:</th>
	</tr>
	<div class="inner"><span class="corners-top"><span></span></span>
        <a href="{INV_LINK}" class="gensmall">[{L_SHOP_YOUR_INV}]</a> 
	   <br>{L_YOU_HAVE}: {USER_POINTS} {POINTS_NAME}

	<span class="corners-bottom"><span></span></span></div>
</div>

    <table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr>
		<td width="100%" align="center" class="row1"><br /><span class="gensmall">{L_SHOP_RIGHT1}<br/>{L_SHOP_RIGHT2}</span><br /><br /></td>
	</tr>
  </table>
<br	clear="all" />
<!-- INCLUDE overall_footer.html -->
