<!-- INCLUDE ucp_header.html -->

<form id="postform" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner">

	<p>{L_CLIENTS_EXPLAIN}</p>

<!-- IF S_EDIT_CLIENT -->

			<!-- IF ERROR --><div class="error">{ERROR}</div><br /><br /><!-- ENDIF -->
			
			<fieldset>
				<h3>{L_CLIENT_DETAILS}</h3>
				<dl>
					<dt><label for="client_name">{L_CLIENT_NAME}:</label><br /><span>{L_CLIENT_NAME_EXPLAIN}</span></dt>
					<dd><input type="text" name="client_name" id="client_name" value="{CLIENT_NAME}" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="client_desc">{L_CLIENT_DESC}:</label><br /><span>{L_CLIENT_DESC_EXPLAIN}</span></td>
					<dd><textarea rows="2" cols="30" name="client_desc" id="client_desc" class="inputbox narrow">{CLIENT_DESC}</textarea></dd>
				</dl>
				<dl>
					<dt><label for="client_new_pass">{L_CLIENT_NEW_PASS}:</label><br /><span>{L_CLIENT_NEW_PASS_EXPLAIN}</span></td>
					<dd><input type="password" name="client_new_pass" id="client_pass" class="inputbox autowidth" value="{CLIENT_NEW_PASS}" /></dd>
				</dl>
				<dl>
					<dt><label for="client_passconf">{L_CLIENT_PASSCONF}:</label></td>
					<dd><input type="password" name="client_passconf" id="client_passconf" class="inputbox autowidth" value="{CLIENT_NEW_PASSCONF}" /></dd>
				</dl>
			</fieldset>
			
		</div>
	</div>
	
	<div class="panel">
		<div class="inner">
			<fieldset>
				<dl>
					<dt><label for="client_passcur">{L_CLIENT_PASSCUR}:</label><br /><span>{L_CLIENT_PASSCUR_EXPLAIN}</span></td>
					<dd><input type="password" name="client_passcur" id="client_passcur" class="inputbox autowidth" value="{CLIENT_PASSCUR}" /></dd>
				</dl>
			</fieldset>
		</div>
	</div>
	
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		<input type="reset" name="reset" value="{L_RESET}" class="button2" />
		{S_FORM_TOKEN}
	</fieldset>


<!-- ELSE -->

	<!-- IF .clientrow -->
		<ul class="topiclist">
			<li class="header">
				<dl class="meta">
					<dt class="no-icon" style="width: 5%"><div class="inner">{L_CLIENT_ID}</div></dt>
					<dd class="mark"><div class="inner">{L_MARK}</div></dd>
					<dd class="extra" style="width: 20%"><span>{L_CLIENT_USES}</span></dd>
					<dd class="info" style="width: 60%"><span>{L_CLIENT_NAME}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist">

		<!-- BEGIN clientrow -->
			<li class="row<!-- IF clientrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
				<dl>
					<dt class="no-icon" style="width: 5%">
						<div class="inner">
							<a href="{clientrow.U_CLIENT_PERMA}" title="{clientrow.CLIENT_NAME}" target="_blank">{TEST_PAGE_IMG}{clientrow.CLIENT_ID}</a>
						</div>
					</dt>
					<dd class="mark"><div class="inner"><input type="checkbox" name="d[{clientrow.CLIENT_ID}]" id="d{clientrow.CLIENT_ID}" /></div></dd>
					<dd class="extra" style="width: 20%"><div class="inner">{clientrow.CLIENT_USES}</div></dd>
					<dd class="info" style="width: 60%"><div class="inner"><a class="topictitle" href="{clientrow.U_VIEW_EDIT}">{clientrow.CLIENT_NAME}</a><br />{clientrow.CLIENT_DESC}</div></dd>
				</dl>
			</li>
		<!-- END clientrow -->
		</ul>
	<!-- ELSE -->
		<p><strong>{L_NO_CLIENTS}</strong></p>
	<!-- ENDIF -->

	</div>
</div>

	<!-- IF .clientrow -->
		<fieldset class="display-actions">
			<input class="button2" type="submit" name="delete" value="{L_DELETE_MARKED}" />
			<div><a href="#" onclick="marklist('postform', '', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="marklist('postform', '', false); return false;">{L_UNMARK_ALL}</a></div>
			{S_FORM_TOKEN}
		</fieldset>
	<!-- ENDIF -->
	
<!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->