<!--version $Id: _block_config.html 479 2009-03-15 11:19:27Z kevin74 $ //-->
<!-- Config for the left and right blocks //-->
<!-- DEFINE $LR_BLOCK_H_L = '<div class="forabg-sidebar panel smooth"><h2 class="sidebar">' -->
<!-- DEFINE $LR_BLOCK_H_R = '</h2><ul class="topiclist topics"><li><dl><dd>' -->
<!-- DEFINE $LR_BLOCK_F_L = '</dd></dl></li></ul>' -->
<!-- DEFINE $LR_BLOCK_F_R = '</div>' -->

<!-- DEFINE $TBL_BLOCK_H_L = '<div class="forabg-sidebar"><h2 class="sidebar">' -->
<!-- DEFINE $TBL_BLOCK_H_R = '</h2><ul class="topiclist topics"><li>' -->
<!-- DEFINE $TBL_BLOCK_F_L = '</li></ul>' -->
<!-- DEFINE $TBL_BLOCK_F_R = '</div>' -->

<!-- Config for the center blocks //-->
<!-- DEFINE $C_BLOCK_H_L = '<div class="forabg-sidebar"><ul class="topiclist"><li class="header">' -->
<!-- DEFINE $C_BLOCK_H_R = '</li></ul>' -->
<!-- DEFINE $C_BLOCK_F_L = '' -->
<!-- DEFINE $C_BLOCK_F_R = '</div>' -->

<!-- Config for the viewtopic blocks //-->
<!-- DEFINE $VT_BLOCK_H = '<div class="panel bg2"><div class="inner">' -->
<!-- DEFINE $VT_BLOCK_F = '</div>' -->

<!-- Images-URL //-->
<!-- DEFINE $NO_AVATAR_IMG = '/images/no_avatar.png' -->