<!-- DEFINE $S_IN_PORTAL = 1 --><!-- DEFINE $SIDEBAR = 1 -->
<!-- INCLUDE overall_header.html -->
<!-- INCLUDE portal/_block_config.html -->

	<!-- IF S_MCHAT_ENABLE and S_MCHAT_LOCATION --><!-- INCLUDE mchat_body.html --><!-- ENDIF -->
	
	<!-- IF .latest_announcements -->
	<div class="aggro">
	<dt class="aggro_head">{L_RECENT_ANN}</dt>
		<!-- BEGIN latest_announcements -->
		<dd class="aggro_item"><a href="{latest_announcements.U_VIEW_TOPIC}" title="{latest_announcements.FULL_TITLE}">
			<p>
				<strong>{latest_announcements.TITLE}</strong>
				<br /><span>by {latest_announcements.USERNAME}</span>
			</p>
		</a></dd>
		<!-- END latest_announcements -->
	</div>
	<!-- ENDIF -->
	
	<!-- IF .hot_topics -->
	<div class="aggro">
	<dt class="aggro_head">{L_RECENT_HOT_TOPIC}</dt>
		<!-- BEGIN hot_topics -->
		<dd class="aggro_item"><a href="{hot_topics.U_VIEW_TOPIC}" title="{hot_topics.FULL_TITLE}">
			<p>
				<strong>{hot_topics.TITLE}</strong>
				<br /><span>{hot_topics.FORUM}</span>
			</p>
		</a></dd>
		<!-- END hot_topics -->
	</dt>
	</div>
	<!-- ENDIF -->
		
	<!-- IF not .latest_topics -->
	<div class="aggro">
	<dt class="aggro_head">{L_RECENT_TOPIC}</dt>
		<!-- BEGIN latest_topics -->
		<dd class="aggro_item"><a href="{latest_topics.U_VIEW_TOPIC}" title="{latest_topics.FULL_TITLE}">
			<p><strong>{latest_topics.TITLE}</strong></p>
		</a></dd>
		<!-- END latest_topics -->
	</div>
	<!-- ENDIF -->         

<!-- INCLUDE overall_footer.html -->