<!-- DEFINE $CA_PAGE = 'index' --><!-- DEFINE $SIDEBAR = 1 -->
<!-- INCLUDE overall_header.html -->
<!-- INCLUDE portal/_block_config.html -->
	
	<!-- IF .latest_announcements -->
	<div class="aggro">
	<h2 class="kb_head">{L_RECENT_ANN}</h2>
		<!-- BEGIN latest_announcements -->
		<div class="aggro_item"><a href="{latest_announcements.U_VIEW_TOPIC}" title="{latest_announcements.FULL_TITLE}">
			<p>
				<strong>{latest_announcements.TITLE}</strong>
				<br /><span>by {latest_announcements.USERNAME}</span>
			</p>
		</a></div>
		<!-- END latest_announcements -->
	</div>
	<!-- ENDIF -->
	
	<!-- IF .hot_topics -->
	<div class="aggro">
	<h2 class="aggro_head">{L_RECENT_HOT_TOPIC}</h2>
		<!-- BEGIN hot_topics -->
		<div class="aggro_item"><a href="{hot_topics.U_VIEW_TOPIC}" title="{hot_topics.FULL_TITLE}">
			<p>
				<strong>{hot_topics.TITLE}</strong>
				<br /><span>{hot_topics.FORUM}</span>
			</p>
		</a></div>
		<!-- END hot_topics -->
	</dt>
	</div>
	<!-- ENDIF -->
		
	<!-- IF not .latest_topics -->
	<div class="aggro">
	<h2 class="aggro_head">{L_RECENT_TOPIC}</h2>
		<!-- BEGIN latest_topics -->
		<div class="aggro_item"><a href="{latest_topics.U_VIEW_TOPIC}" title="{latest_topics.FULL_TITLE}">
			<p><strong>{latest_topics.TITLE}</strong></p>
		</a></div>
		<!-- END latest_topics -->
	</div>
	<!-- ENDIF -->
	
	<!-- IF .user_column -->
	<div id="user_columns">
		<!-- BEGIN user_column -->
		<dl class="user_column rounded" id="profile{user_column.USER_ID}">
	    <dt>
	    	{user_column.USERNAME}<br />
	      <!-- IF user_column.AVATAR -->
	        {user_column.AVATAR}<br />
	      <!-- ELSE -->
	        <img src="{T_THEME_PATH}/images/no-avatar.png" height="100px" width="100px" alt="Default Avatar" />
	      <!-- ENDIF -->
	    </dt>
	    
	    <!-- IF user_column.STATUS neq '' -->
	      <dd class="user_status">{user_column.STATUS}</dd>
	    <!-- ENDIF -->
	    
	    <br />
	
		  <!-- IF user_column.RANK_TITLE or user_column.RANK_IMG --><dd><strong>{L_RANK_TITLE}</strong> {user_column.RANK_TITLE}<!-- IF user_column.RANK_TITLE and user_column.RANK_IMG --><br /><!-- ENDIF -->{user_column.RANK_IMG}</dd><!-- ENDIF -->
		  <!-- IF user_column.POSTS != '' --><dd><strong>{L_POSTS}</strong> {user_column.POSTS}</dd><!-- ENDIF -->
		  <!-- IF user_column.JOINED --><dd><strong>{L_JOINED}</strong> {user_column.JOINED}</dd><!-- ENDIF -->
		  <!-- IF user_column.FROM --><dd><strong>{L_LOCATION}</strong> {user_column.FROM}</dd><!-- ENDIF -->
	
	  </dl>
		<!-- END user_column -->
	</div>
	<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->