<!-- DEFINE $S_IN_PORTAL = 1 -->
<!-- INCLUDE portal/_block_config.html -->
<div class="stats">
	<p><h4>{L_ST_TOP}</h4>
	<dl>
	{L_TOTAL_POSTS} {TOTAL_POSTS}<br />
	{L_TOTAL_TOPICS} {TOTAL_TOPICS}<br />
	{L_ST_TOP_ANNS} <strong>{S_ANN}</strong><br />
	{L_ST_TOP_STICKYS} <strong>{S_SCT}</strong><br />
	{L_ST_TOT_ATTACH} <strong>{S_TOT_ATTACH}</strong><br />
	{L_TOTAL_USERS} {TOTAL_USERS}<br />
	{NEWEST_USER}</p>
	
	<p><h4>{L_24HOUR_STATS}</h4>
	{24HOUR_POSTS}<br />
	{24HOUR_TOPICS}<br />
	{24HOUR_USERS}<br /></p>
</div>