<!-- INCLUDE overall_header.html -->
<!-- $Id: points_transfer.html 406 2009-06-29 16:06:16Z femu $ -->

<br style="clear:both" />

{$Z_BLOCK_H_L}{L_POINTS_TRANSFER}{$Z_BLOCK_H_R}

			<div id="cp-menu">	
				<div class="cp-mini">
					<div class="inner"><span class="corners-top"><span></span></span>
	        			<dl>
							<dd><h3>{L_POINTS_DESCRIPTION}</h3></dd>
							<dd>{L_TRANSFER_DESCRIPTION}</dd>
	        			</dl>
	        		<span class="corners-bottom"><span></span></span></div>
	        	</div> 				
			</div>
  
			<form id="form1" method="post" action="">
			<div id="cp-main" class="ucp-main">
				<div class="panel">
					<div class="inner">
						<span class="corners-top"><span></span></span>
							<i>{U_TRANSFER_NAME}</i><br /><br />
							<fieldset>
							<dl>
								<dt><label>{L_TRANSFER_AMOUNT}:</label></dt>
								<dd><input class="inputbox autowidth" tabindex="1" maxlength="10" type="text" name="amount" title="{L_POINTS_NUMBER_FORMAT_EXPLAIN}" value="" />{POINTS_NAME}</dd>
							</dl>
							<!-- IF POINTS_COMMENTS  and S_ALLOW_SEND_PM -->
							<dl>
								<dt><label for="comment">{L_TRANSFER_COMMENT}:</label></dt>
								<dd><textarea id="comment" tabindex="2" class="inputbox" name="comment" cols="50" rows="3" >{COMMENT}</textarea></dd>
							</dl>
							<!-- ENDIF -->
							</fieldset>
							<fieldset class="submit-buttons">
							{S_HIDDEN_FIELDS}
							<input type="submit" tabindex="3" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
							</fieldset>							
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
			</div>
			</form>
			
{$Z_BLOCK_F_L}{$Z_BLOCK_F_R}

<!-- INCLUDE overall_footer.html -->