<!-- INCLUDE overall_header.html -->
<!-- $Id: points_bank_edit.html 406 2009-06-29 16:06:16Z femu $ -->

<!-- BEGIN administer_bank -->
<br style="clear:both" />
<form action="{S_ACTION}" method="post">

	{$Z_BLOCK_H_L}{L_EDIT_BANK_MODIFY}{$Z_BLOCK_H_R}
		<p>{L_P_BANK_TITLE}</p>
		<dl class="details">
			<dt>{L_USERNAME}:</dt> <dd>{USER_NAME}</dd>
			<dt>{L_BANK_BALANCE}:</dt> <dd>{BANK_POINTS} {POINTS_NAME}</dd>
		</dl>
		<dl class="details">
			<dt>{L_SET_AMOUNT}:</dt> 
			<dd><input type="text" tabindex="1" class="inputbox autowidth" maxlength="10" name="points" size="20" title="{L_POINTS_NUMBER_FORMAT_EXPLAIN}" value="" /></dd>
		</dl>
		
		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input type="submit" tabindex="2" accesskey="s" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;
		</fieldset>
	{$Z_BLOCK_F_L}{$Z_BLOCK_F_R}
	
</form>
<br style="clear:both" />
<!-- END administer_bank -->

<!-- INCLUDE overall_footer.html -->