* html #site-bottom-bar, * html #site-bottom-bar-frame {
	bottom: -1px;
	left: 16px;
	width: 97%;

}

* html .fixed-position {
	position: absolute;
} 


* html #site-bottom-bar {
	width: 95%;
	left: 18px;
}

* html #site-bottom-bar-frame {
}

* html #site-bottom-bar-frame .block-box {
	margin-right: -1px;
	margin-left: 0px;
}

* html #site-bottom-bar-frame .block-box.rightside {
	margin-right: 0px;
	margin-left: -1px;
}