<!-- INCLUDE overall_header.html -->
<form action="{U_ACTION}" method="post">
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_ADD_GROUP}</th>
	</tr>
	<tr class="genmed">
		<td class="row1"><b>{L_GROUP_NAME}</b>:</td><td class="row2"><input type="text" class="inputbox autowidth" name="group_name" /></td>
	</tr>
	<tr class="genmed">
		<td class="row1"><b>{L_GROUP_LOGO}</b>:<br /><span class="gensmall">{L_UPLOAD_AVATAR_URL_EXPLAIN}<br />{L_AVATAR_EXPLAIN}</span></td>
		<td class="row2"><input type="text" class="inputbox autowidth" name="group_logo" /></td>
	</tr>
	<tr class="genmed">
		<td class="row1" valign="top"><b>{L_GROUP_DESC}</b>:</td><td class="row2"><textarea name="group_desc" cols="40" rows="5" class="inputbox narrow"></textarea></td>
	</tr>
	<tr>
		<td class="cat" align="right" colspan="2"><input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;</td>
	</tr>
</table>
</form>
<!-- INCLUDE overall_footer.html -->
