<!-- INCLUDE overall_header.html -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="5">{L_TOURNAMENTS}</th>
	</tr>
	<!-- BEGIN block_tournaments -->
	<tr class="genmed">
		<td class="{block_tournaments.ROW_COLOR}" align="center" width="30%"><strong>{block_tournaments.TIME}</strong></td>
		<td class="{block_tournaments.ROW_COLOR}">
			<strong>{block_tournaments.TOURNAMENT_NAME}</strong><br /><br />
			<i>{L_PLATFORM}</i>: {block_tournaments.PLATFORM}<br />
			<i>{L_LADDER}</i>: {block_tournaments.LADDER}<br />
			<i>{L_SUBLADDER}</i>: {block_tournaments.SUBLADDER}<br /><br />
			<i>{L_TOURNAMENT_STARTS}</i>: {block_tournaments.TOURNAMENT_STARTS}
		</td>
		<td class="{block_tournaments.ROW_COLOR}" align="center">
			<!-- IF block_tournaments.SHOW_SIGNUP -->
			<a href="{block_tournaments.U_ACTION3}">{L_SIGNUP}</a> / 
			<!-- ENDIF -->
			<!-- IF block_tournaments.SHOW_INVITE -->
			{L_INVITE_ONLY}
			<!-- ENDIF -->
			<a href="{block_tournaments.U_ACTION}">{L_VIEW_BRACKETS}</a>
		</td>
		<td class="{block_tournaments.ROW_COLOR}" align="center">
			<a href="{block_tournaments.U_ACTION2}">{L_DETAILS}</a></form>
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="genmed">
		<td class="row1" colspan="5">{L_NO_TOURNAMENTS}</td>
	</tr>
	<!-- END block_tournaments -->
	<tr class="genmed">
		<td class="cat" colspan="5">&nbsp;</td>
	</tr>
</table>
<br />
<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">
			<p>	
				<form action="{U_ACTION}" method="post">
				{L_SEASON}: 
				<select name="season_id" id="season_id" class="inputbox autowidth">
					<!-- BEGIN block_seasons -->
					<option name="tourn_season" value="{block_seasons.SEASON_ID}">{block_seasons.SEASON_NAME}</option>
					<!-- END block_seasons -->
				</select> 
				<input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" />
				</form>
			</p>
			<p class="breadcrumbs">{PAGE_NUMBER}</p>
			<p class="datetime">{PAGINATION}</p>
		</td>
	</tr>
</table>
<br />
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="3">{L_ARCHIVED_TOURNAMENTS} {SEASON_NAME}</th>
	</tr>
	<!-- BEGIN block_archivedtournaments -->
	<tr class="genmed">
		<td class="{block_archivedtournaments.ROW_COLOR}" align="center" width="30%"><strong>{block_archivedtournaments.TIME}</strong></td>
		<td class="{block_archivedtournaments.ROW_COLOR}">
			<strong>{block_archivedtournaments.TOURNAMENT_NAME}</strong><br /><br />
			<i>{L_PLATFORM}</i>: {block_archivedtournaments.PLATFORM}<br />
			<i>{L_LADDER}</i>: {block_archivedtournaments.LADDER}<br />
			<i>{L_SUBLADDER}</i>: {block_archivedtournaments.SUBLADDER}<br /><br />
		</td>
		<td class="{block_archivedtournaments.ROW_COLOR}" align="center">
			<a href="{block_archivedtournaments.U_ACTION}">{L_VIEW_BRACKETS}</a>
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="genmed">
		<td class="row1" colspan="3">{L_NO_ARCHIVED_TOURNAMENTS}</td>
	</tr>
	<!-- END block_archivedtournaments -->
	<tr class="genmed">
		<td class="cat" colspan="3">&nbsp;</td>
	</tr>
</table>
<br />
<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">
			<p class="breadcrumbs">{PAGE_NUMBER}</p>
			<p class="datetime">{PAGINATION}</p><br />
			<p>	
				<form action="{U_ACTION}" method="post">
				{L_SEASON}: 
				<select name="season_id" id="season_id" class="inputbox autowidth">
					<!-- BEGIN block_seasons -->
					<option name="tourn_season" value="{block_seasons.SEASON_ID}">{block_seasons.SEASON_NAME}</option>
					<!-- END block_seasons -->
				</select> 
				<input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" />
				</form>
			</p>
		</td>
	</tr>
</table>
<!-- INCLUDE overall_footer.html -->
