<!-- INCLUDE ucp_header.html -->
<form action="{U_ACTION}" method="post" name="make_challenge" id="make_challenge">
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_ADD_CHALLENGE}</th>
	</tr>
	<tr class="genmed">
		<td class="row1" valign="top"><strong>{L_GROUP_ID}</strong>:</td>
		<td class="row2">
			<input type="text" name="challengee" id="challengee" class="inputbox autowidth" value="{GROUP_ID}" /> [ <a href="#" onClick="window.open('{U_FIND_GROUP}', '_phpbbsearch', 'HEIGHT=250,resizable=yes,WIDTH=650');return false;">{L_FIND_GROUP}</a> ]
		</td>
	</tr>
	<tr class="genmed">
		<td class="row1" valign="top"><strong>{L_CHALLENGE_UNRANKED}</strong>?</td>
		<td class="row2">
			<input type="checkbox" name="challenge_unranked" id="challenge_unranked" value="1" />
		</td>
	</tr>
	<tr class="genmed">
		<td class="row1" valign="top"><strong>{L_LADDER}</strong>:</td>
		<td class="row2">
			<select name="ladder_id" >
				<!-- BEGIN block_ladders -->
				<option value="{block_ladders.LADDER_ID}">P: {block_ladders.PLATFORM}, L: {block_ladders.LADDER}, S: {block_ladders.SUBLADDER}</option>
				<!-- END block_ladders -->
			</select>
		</td>
	</tr>
	<tr class="genmed">
		<td class="row1" valign="top"><strong>{L_EXTRA}</strong>:</td>
		<td class="row2"><textarea cols="40" rows="5" name="extra" class="inputbox narrow"></textarea></td>
	</tr>
	<tr>
		<td class="cat" colspan="2" align="center"><input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" /></td>
	</tr>
</table>
</form>
<!-- INCLUDE ucp_footer.html -->
