<!-- INCLUDE ucp_header.html -->
<form action="{U_ACTION}" method="post" enctype="multipart/form-data">
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2">{L_ISSUE_A_TICKET}</th>
	</tr>
	<tr class="genmed">
		<td class="row1"><b>{L_TICKET_TYPE}</b>:</td>
		<td class="row2" valign="top">
			<select name="type" class="inputbox autowidth">
				<option value="{L_CHEATING}">{L_CHEATING}</option>
				<option value="{L_MATCHRESULTS}">{L_MATCH_RESULTS}</option>
				<option value="{L_NOSHOW}">{L_NO_SHOW}</option>
				<option value="{L_OTHER}">{L_OTHER_TYPE}</option>	
			</select>
		</td>
	</tr>
	<tr class="genmed">
		<td class="row1"><b>{L_TICKET_FILE}</b>:</td>
		<td class="row2"><input type="file" class="inputbox autowidth" name="attachment" /></td>
	</tr>
	<tr>
		<td class="row1">&nbsp;</td>
		<td class="row2">
			<textarea cols="40" rows="5" class="inputbox narrow" name="ticket"></textarea>
		</td>
	</tr>
	<tr>
		<td class="cat" align="center" colspan="2"><input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" /></td>
	</tr>
</table>
</form>
<!-- INCLUDE ucp_footer.html -->
