<!-- INCLUDE overall_header.html -->
<div class="forumbg forumbg-table">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<form action="{U_ACTION}" method="post">
		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th class="name">{L_LADDER_NAME}</th>
					<th class="views">{L_NUM_GROUPS}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN block_ladders -->
				<tr class="bg2">
					<td class="row3" colspan="2">&nbsp;<a href="{block_ladders.U_LADDERRULES}">{block_ladders.LADDER_NAME}</a></td>
				</tr>
				<!-- BEGIN block_subladders -->
				<tr class="bg1">
					<td class="row1">&nbsp;<a href="{block_ladders.block_subladders.U_ACTION}" class="forumtitle">{block_ladders.block_subladders.LADDER_NAME}</a><br />&nbsp;{block_ladders.block_subladders.LADDER_DESC}</span></td><td class="row2" valign="middle" align="center">{block_ladders.block_subladders.NUM_GROUPS}</td>
				</tr>
				<!-- END block_subladders -->
				<!-- END block_ladders -->
			</tbody>
		</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
