<!-- INCLUDE overall_header.html -->
<div class="forumbg forumbg-table">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th class="name">{L_WINNER_BRACKET}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="bg1">
					<!-- BEGIN block_rounds -->
					<td align="center" valign="middle" width="{block_rounds.S_ROUNDWIDTH}%" colspan="2">[ {block_rounds.S_ROUND} ]<br />
						<table width="100%" cellspacing="0" cellpadding="0">
						<!-- BEGIN block_data -->
						<tr class="{block_rounds.block_data.S_BGCOLOR}">
							<td align="center" valign="middle" width="100%" class="{block_rounds.block_data.S_COLOR}">{block_rounds.block_data.S_DATA}</td>
							<td align="left" class="row2">&nbsp;<br /></td>
						</tr>
						<!-- END block_data -->
						</table>
					</td>
					<!-- END block_rounds -->
				</tr>
			</tbody>
		</table>
		<span class="corners-bottom"><span></span></span>
		</form>
	</div>
</div>
<!-- IF HAS_DOUBLEELIM -->
<br /><br />
<div class="forumbg forumbg-table">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th class="name">{L_LOSER_BRACKET}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="bg1">
					<!-- BEGIN block_rounds2 -->
					<td align="center" valign="middle" width="{block_rounds2.S_ROUNDWIDTH}%" colspan="2">[ {block_rounds2.S_ROUND} ]<br />
						<table width="100%" cellspacing="0" cellpadding="0">
						<!-- BEGIN block_data2 -->
						<tr class="{block_rounds2.block_data2.S_BGCOLOR}">
							<td align="center" valign="middle" width="100%" class="{block_rounds2.block_data2.S_COLOR}">{block_rounds2.block_data2.S_DATA}</td>
							<td align="left" class="row2">&nbsp;<br /></td>
						</tr>
						<!-- END block_data2 -->
						</table>
					</td>
					<!-- END block_rounds2 -->
				</tr>
			</tbody>
		</table>
		<span class="corners-bottom"><span></span></span>
		</form>
	</div>
</div>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
