<!-- INCLUDE ucp_header.html -->
<h2>{L_ISSUE_A_TICKET}</h2>
<form action="{U_ACTION}" method="post" enctype="multipart/form-data">
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<fieldset>
			<dl>
				<dt><label for="type">{L_TICKET_TYPE}:</label></dt>
				<dd>
					<select name="type" id="type" class="inputbox autowidth">
						<option value="{L_CHEATING}">{L_CHEATING}</option>
						<option value="{L_MATCH_RESULTS}">{L_MATCH_RESULTS}</option>
						<option value="{L_NO_SHOW}">{L_NO_SHOW}</option>
						<option value="{L_OTHER_TYPE}">{L_OTHER_TYPE}</option>	
					</select>
				</dd>
			</dl>
			<dl>
				<dt><label for="attachment">{L_TICKET_FILE}:</label></dt>
				<dd><input type="file" class="inputbox autowidth" name="attachment" /></dd>
			</dl>
			<dl>
				<dt><label for="ticket">&nbsp;</label></dt>
				<dd><textarea cols="40" rows="5" class="inputbox narrow" name="ticket"></textarea></dd>
			</dl>
		</fieldset>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<fieldset class="submit-buttons">
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
</fieldset>
</form>
<!-- INCLUDE ucp_footer.html -->
