# 
# @package phpBB3 Portal  a.k.a canverPortal  ( www.phpbb3portal.com )
# @version $Id: .htaccess,v 1.7 2008/02/09 08:18:13 angelside Exp $
# @copyright (c) Canver Software - www.canversoft.net
# @license http://opensource.org/licenses/gpl-license.php GNU Public License 
# 

DirectoryIndex portal.php index.php index.html index.htm

<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>