<!-- DEFINE $CA_PAGE = 'kb' -->
<!-- IF S_IS_MCP -->
<!-- INCLUDE mcp_header.html -->
<!-- ELSEIF S_IS_UCP -->
<!-- INCLUDE ucp_header.html -->
<!-- ELSE -->
<!-- INCLUDE overall_header.html -->

<!-- ENDIF -->
<!-- IF not S_IS_MCP and not S_IS_UCP -->
	<!-- IF .left_menu -->
	<div id="left_menu" style="width: {LEFT_MENU_WIDTH}; vertical-align: top;">
		<!-- BEGIN left_menu -->
		{left_menu.CONTENT}
		<!-- END left_menu -->
	</div>
	<!-- ENDIF -->
	
	<!-- IF .right_menu -->
	<div id="right_menu" style="width: {RIGHT_MENU_WIDTH}; vertical-align: top; margin-left: 10px;">
		<!-- BEGIN right_menu -->
		{right_menu.CONTENT}
		<!-- END right_menu -->
	</div>
	<!-- ENDIF -->
	
	<div id="kb_search">
		<form id="kb_searchform" method="post" action="{U_KB_SEARCH}">
			<fieldset>
				<input name="q" id="kb_keywords" type="text" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" />
				<input class="button1" value="{L_GO}" type="submit" /><br />
				{S_HIDDEN_FIELDS}
			</fieldset>
		</form>
	</div>
	
	<div style="width: 707px; float: left;"><!-- ENDIF -->