<!-- INCLUDE kb/kb_header.html -->
		<div id="a">
			<div class="hb_container">
				<!-- IF U_DELETE or U_EDIT and not S_IS_BOT -->
					<ul class="hb">
						<!-- IF U_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_KB_EDIT_REQUEST}"><span>{L_KB_EDIT_REQUEST}</span></a></li><!-- ENDIF -->
						<!-- IF U_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_KB_DELETE_REQUEST}"><span>{L_KB_DELETE_REQUEST}</span></a></li><!-- ENDIF -->
					</ul>								
				<!-- ENDIF -->
				<p class="notice"><a href="{U_VIEW_PERMANENT}"><img src="{T_IMAGESET_PATH}/icon_post_target.gif" alt="{L_PERMANENT_LINK}" /></a>{L_POST_BY_AUTHOR} <strong>{POST_AUTHOR_FULL}</strong> {L_POSTED_ON_DATE} {POST_DATE}</p>
				<h1 class="kb_requesttitle"><a href="{U_VIEW}">{REQUEST_TITLE}</a></h1>
				
				<div class="content"><strong>{EXPLAIN}</strong><hr /><br />{MESSAGE}</div>
			</div>
		</div>
<!-- INCLUDE kb/kb_footer.html -->