<!-- INCLUDE overall_header.html -->

<!-- IF S_FACTION_PAGE -->
	<div class="panel smooth info tag">
		<img src="{T_THEME_PATH}/images/tags/layers_2.png" alt="{FACTION_NAME}" />
		<h1 class="infotitle">	<!-- IF FACTION_COLOR --><span style="color:#{FACTION_COLOR};">{FACTION_NAME}</span><!-- ELSE -->{FACTION_NAME}<!-- ENDIF --><br /></h1>
		<p><!-- IF FACTION_DESC -->{FACTION_DESC}<!-- ENDIF --></p>
	</div>
	
	<!-- IF .faction_member -->
		<!-- BEGIN faction_member -->
		<dl class="user-tag">
			<dt>{faction_member.AVATAR}</dt>
			<dd>{faction_member.NAME}</dd>
			<dd>{faction_member.RANK}</dd>
		</dl>
		<!-- END faction_member -->
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF .factions_row -->
<div class="panel smooth info tag">
	<img src="{T_THEME_PATH}/images/tags/layers_2.png" alt="{PAGE_TITLE}" />
	<h1 class="infotitle">{PAGE_TITLE}</h1>
	<p>{L_FACTION_EXPLAIN}</p>
</div>

<ul class="linklist">
	<li class="rightside"><a class="button2" href="{U_FAPP_INDEX}">Faction Application Index</a></li>
</ul>

<div class="forabg forumbg-table">
	<table class="table1" cellspacing="1" id="factions_page">
	<thead>
	<tr>
		<th>{L_FACTION_NAME}, {L_FACTION_DESC}</th>
		<th class="extra">{L_FACTION_MEMBERS}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN factions_row -->
	<tr class="<!-- IF factions_row.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td>
			<a href="{factions_row.U_FACTION}"><!-- IF factions_row.FACTION_COLOR --><span style="color:#{factions_row.FACTION_COLOR};">{factions_row.FACTION_NAME}</span><!-- ELSE -->{factions_row.FACTION_NAME}<!-- ENDIF --></a><br />
			<span><!-- IF factions_row.FACTION_DESC -->{factions_row.FACTION_DESC}<!-- ENDIF --></span>
		</td>
		<td class="extra">{factions_row.FACTION_COUNT}</td>
	</tr>
	<!-- END factions_row -->
	</tbody>
	</table>
</div>

<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/processing.min.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/init.js"></script>
<script type="application/processing" target="#map">
void setup() {
	size(1008, 640);
	smooth();
 
	defaultFont = createFont("Verdana", 11, true);
	leaderFont = createFont("Verdana Bold", 11, true);
	textFont(defaultFont);
  
	frameRate(25);

	ally = new Alliance();

	var factions = {FACTIONS_JSON};
	for(var i in factions) {
		var faction = new Faction(factions[i].name, false);
		ally.addFaction(faction);
	}
}

void draw() {
	background(255);
  
	fill(0);
	stroke(0);
	
	ally.display();
}

var Member = function(p_name, p_leader) {
	this.name = p_name;
	this.leader = p_leader;
	
	this.radius = 24;
}

Member.prototype.display = function() {
	fill(255);
	strokeWeight(2);
	ellipse(0, 0, this.radius, this.radius);
	fill(0);
	
	text(this.name, 0, 24);
}

var Faction = function(p_name) {
	this.members = new Array();
	this.name = p_name;
	
	this.radius = 80;
	this.x = 0;
	this.y = 0;
}

Faction.prototype.addMember = function(member) {
	this.members.push(member);
}
	
Faction.prototype.display = function() {
	fill(0);
	ellipse(this.x, this.y, 24, 24);
	
	fill(0);
	text(this.name, this.x, this.y + 24);

	var arclength = cos(this.x)/sin(this.y);
	var totalBoxes = this.members.length;			
	for(var i = 0; i < totalBoxes; i++) {
	    var theta = arclength / this.radius;
	    
	    pushMatrix();
	    // Polar to cartesian coordinate conversion
	    strokeWeight(3);
	    line(this.x, this.y, this.x + this.radius*cos(theta), this.y + this.radius*sin(theta));
	    translate(this.x + this.radius*cos(theta), this.y + this.radius*sin(theta));
	    // Rotate the box
		this.members[i].display();
		popMatrix();
	    
	    arclength += (2*PI*this.radius)/(totalBoxes);
	}
}

var Alliance = function() {
	this.factions = new Array();

	this.r = 190;
	this.x = $('canvas').width()/2;
	this.y = $('canvas').height()/2;
}

Alliance.prototype.addFaction = function(faction) {
	this.factions.push(faction);
}

Alliance.prototype.display = function() {
	if(mousePressed) {
		this.x = mouseX;
		this.y = mouseY;
	}

	var totalBoxes = this.factions.length;
	
	noFill();
	strokeWeight(2);
	
	var positionRadius = this.r / totalBoxes;
	var rotation = 0;
	beginShape();	
	while(rotation < 2*PI) {
		vertex(this.x+positionRadius*(totalBoxes - 1)*cos(rotation)-positionRadius*cos((totalBoxes - 1)*rotation), 
				this.y+positionRadius*(totalBoxes - 1)*sin(rotation)+positionRadius*sin((totalBoxes - 1)*rotation));
		rotation += 0.1;
	}
	endShape(CLOSE);
	
	var arclength = 0;
	for(var i = 0; i < totalBoxes; i++) {
	    var theta = arclength / this.r;
	    
	    pushMatrix();
		translate(this.x - this.r*cos(theta), this.y + this.r*sin(theta));
		this.factions[i].display();
		processing.popMatrix();
	    
	    arclength = arclength + (2*Math.PI*this.r) / (totalBoxes);
	}
}

</script>
<canvas id="map"></canvas>
<!-- ENDIF -->
	
<!-- INCLUDE overall_footer.html -->
