<!-- DEFINE $SIDEBAR = '1' --><!-- DEFINE $CA_PAGE = 'index' --><!-- INCLUDE overall_header.html --><!-- INCLUDE portal/_block_config.html -->

<!-- IF S_MCHAT_ENABLE and S_MCHAT_ON_INDEX and S_MCHAT_LOCATION --><!-- INCLUDE mchat_body.html --><!-- ENDIF -->

	<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
	<ul class="linklist">
		<!-- IF S_DISPLAY_SEARCH -->
			<li><a class="button2" href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a><!-- IF S_USER_LOGGED_IN --> <a class="button2" href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a> <a class="button2" href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><!-- ENDIF --> <a class="button2" href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
		<!-- ENDIF -->
		<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a class="button2 mark-read" href="{U_MARK_FORUMS}"><img src="{T_THEME_PATH}/images/eye.png" /> {L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
	</ul>
	<!-- ENDIF -->


<!-- INCLUDE forumlist_body.html -->
<!-- IF S_MCHAT_ENABLE and S_MCHAT_ON_INDEX and not S_MCHAT_LOCATION --><!-- INCLUDE mchat_body.html --><!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->