<!-- INCLUDE overall_header.html -->
<div class="panel smooth tag">
	<img src="{T_THEME_PATH}/images/tags/speechbubble_2.png" alt="jACE" /><h1 class="infotitle">jACE</h1><p>javascript Avatar Chat Engine</p>
</div>

<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/config.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/util.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/shapes.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/Doodads.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/Effects.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/Bubble.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/Chatlog.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/Room.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/Node.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/Viewport.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/scripts/jACE/Devices.js"></script>
<script type="text/javascript">
var mouse = null,
	keyboard = null;
	
var room = null,
	chatlog = null,
	nodes = null,
	viewport = null;

var username = '{S_USERNAME}';

window.onload = init;


function init(){
   initGameVariables();
   initEventHandlers();
    
	// The loop
    setInterval(render, 1000 / config.FPS);
}

function initGameVariables() {
	nodeCanvas = document.getElementById('jaceNode');
    nodeCtx = nodeCanvas.getContext('2d');
    
	var relative = findPos(nodeCanvas);
    nodeCanvasMinX = relative.x;
    nodeCanvasMaxX = nodeCanvasMinX + nodeCanvas.width;
    
    nodeCanvasMinY = relative.y;
    nodeCanvasMaxY = nodeCanvasMinY + nodeCanvas.height;
	
	 // Initialize variables and other stuff
	room = new Room('jaceRoom');
	room.addDoodad(new Rock(room.getCtx(), 0, 0));
	room.addDoodad(new Rock(room.getCtx(), room.width * 0.5, room.height * 0.5));
	
	nodes = new Array();
	nodes.push(new Node());
	
	chatlog = new Chatlog();
	
	viewport = new Viewport(.1, .5, .75, nodes[0], 1.75, 800);
}

function initEventHandlers() {
	// Event handling
	speech = document.getElementById('speech');
	message = document.getElementById('message');
    speech.onsubmit = function() {
		var messageValue = message.value;
	    nodes[0].addMessage(messageValue);
		chatlog.addLog(username, messageValue);
		message.value = '';
	    return false;
	};
	
	nodeConfig = document.getElementById('nodeConfig');
	nodeColor = document.getElementById('nodeColor');
	nodeConfig.onsubmit = function() {
		var color = nodeColor.value;
		nodes[0].setColor(color);
		nodeColor.value = '';
		return false;
	};
	
	mouse = new Mouse();
	keyboard = new Keyboard();
	
	nodeCanvas.onclick = function(evt) {
	    mouse.x = Math.round(evt.pageX - nodeCanvasMinX) + room.ox;
	    mouse.y = Math.round(evt.pageY - nodeCanvasMinY) + room.oy;

	    var dx = mouse.x - nodes[0].x;
	    var dy = mouse.y - nodes[0].y;
		nodes[0].angle = Math.atan2(dy, dx);

		mouse.moving = true;
	};
}

function render() {
	viewport.clear();
	viewport.update();
	viewport.render();
}

</script>
<style type="text/css">
#jaceRoom, #jaceNode, #jaceChatlog {
	height: 400px;
}

#jaceChatlog {
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	position: absolute;
	height: 380px;
	width: 188px;
	padding: 12px 16px;
	overflow: auto;
}

#jaceChatlog li {
	color: #666666;
	border-bottom: 1px solid #D0D0D0;
	list-style-type: none;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

#jaceChatlog li strong {
	color: #212121;
}
	
#jaceNode {
	 position: absolute;
	 margin-left: 228px;
}

#jaceRoom {
	margin-left: 228px;
}

#nodeConfig #nodeColor { font-family: "Courier New", Courier, monospace;}
#speech #message, #nodeConfig #nodeColor {
	border: 1px solid #D0D0D0;
	width: 160px;
	padding: 4px 4px 3px;
	text-align: left
}
</style>

<form id="nodeConfig" action="#" method="post">
	<p><input type="text" name="nodeColor" id="nodeColor" /> <input type="submit" class="button2" value="Color Node" /></p>
</form>

<canvas id="jaceNode" height="400" width="780">
    <p>Browser does not support canvas.</p>
</canvas>
<ul id="jaceChatlog">
</ul>
<canvas id="jaceRoom" height="400" width="780">
    <p>Browser does not support canvas.</p>
</canvas>
<form id="speech" action="#" method="post">
	<p><input type="text" name="message" id="message" /> <input type="submit" name="say" value="Say" id="say" class="button2" /></p>
</form><br />
<!-- INCLUDE overall_footer.html -->
