<!-- INCLUDE simple_header.html -->
<style type="text/css">
{USER_CSS}
</style>

<div id="profile">
	<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">
	<div id="profile-sidebar">
		
		<div id="me" class="profile-box <!-- IF S_ONLINE --> online<!-- ENDIF -->">
			<h2 class="header"><a class="username-coloured <!-- IF S_IS_BANNED -->banned<!-- ENDIF -->" <!-- IF USER_COLOR -->style="color: {USER_COLOR};"<!-- ENDIF -->>{USERNAME}</a></h2>
			<div class="inner">
			
			<dl>
				<dt class="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no-avatar.png" height="100px" width="100px" alt="Default Avatar" /><!-- ENDIF --></dt>
				<!-- IF USER_STATUS neq '' --><dd class="user_status">{USER_STATUS}</dd><!-- ENDIF -->
			</dl>
						
			<dl class="details">
				<!-- IF RANK_TITLE --><dt>{L_RANK}:</dt> <dd>{RANK_TITLE}</dd><!-- ENDIF -->
				<!-- IF RANK_IMG --><dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt> <dd>{RANK_IMG}</dd><!-- ENDIF -->
				<!-- IF S_USER_INACTIVE --><dt>{L_USER_IS_INACTIVE}:</dt> <dd>{USER_INACTIVE_REASON}</dd><!-- ENDIF -->
				<!-- IF LOCATION --><dt>{L_LOCATION}:</dt> <dd>{LOCATION}</dd><!-- ENDIF -->
				<!-- IF AGE --><dt>{L_AGE}:</dt> <dd>{AGE}</dd><!-- ENDIF -->
				<!-- IF OCCUPATION --><dt>{L_OCCUPATION}:</dt> <dd>{OCCUPATION}</dd><!-- ENDIF -->
				<!-- IF INTERESTS --><dt>{L_INTERESTS}:</dt> <dd>{INTERESTS}</dd><!-- ENDIF -->
				<!-- IF S_GROUP_OPTIONS --><dt>{L_USERGROUPS}:</dt> <dd><select name="g">{S_GROUP_OPTIONS}</select> <input type="submit" name="submit" value="{L_GO}" class="button2" /></dd><!-- ENDIF -->
			</dl>
		
			</div>
		</div>
			
		<div id="statistics" class="profile-box">
			<h2 class="header">{L_STATISTICS}</h2>
			<div class="inner">
	
			<dl class="details">
				<dt>{L_JOINED}:</dt> <dd>{JOINED}</dd>
				<dt>{L_VISITED}:</dt> <dd>{VISITED}</dd>
				<!-- IF S_WARNINGS -->
				<dt>{L_WARNINGS}: </dt>
				<dd><strong>{WARNINGS}</strong><!-- IF U_NOTES or U_WARN --> [ <!-- IF U_NOTES --><a href="{U_NOTES}">{L_VIEW_NOTES}</a><!-- ENDIF --> <!-- IF U_WARN --><!-- IF U_NOTES --> | <!-- ENDIF --><a href="{U_WARN}">{L_WARN_USER}</a><!-- ENDIF --> ]<!-- ENDIF --></dd>
				<!-- ENDIF -->
				<dt>{L_TOTAL_POSTS}:</dt>
					<dd>{POSTS} <!-- IF S_DISPLAY_SEARCH -->| <strong><a href="{U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a></strong><!-- ENDIF -->
						<!-- IF POSTS_PCT --><br />({POSTS_PCT} / {POSTS_DAY})<!-- ENDIF -->
						<!-- IF POSTS_IN_QUEUE and U_MCP_QUEUE --><br />(<a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a>)<!-- ELSEIF POSTS_IN_QUEUE --><br />({L_POSTS_IN_QUEUE})<!-- ENDIF -->
					</dd>
				<!-- IF S_SHOW_ACTIVITY and POSTS -->
					<dt>{L_ACTIVE_IN_FORUM}:</dt> <dd><!-- IF ACTIVE_FORUM --><strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong><br />({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})<!-- ELSE --> - <!-- ENDIF --></dd>
					<dt>{L_ACTIVE_IN_TOPIC}:</dt> <dd><!-- IF ACTIVE_TOPIC --><strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong><br />({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})<!-- ELSE --> - <!-- ENDIF --></dd>
				<!-- ENDIF -->
				<!-- IF S_REPUTATION -->
					<dt>{L_RP_TOTAL_POINTS}:</dt> <dd>{REPUTATION}</dd>
					<dt>{L_RP_POWER}:</dt> <dd>{REP_POWER}</dd>
				<!-- ENDIF -->
				<!-- IF MF -->
					<dt>{MF_TOTAL} {L_MUTUAL_FRIENDS}<!-- IF MF_TOTAL > 0 -->:<!-- ENDIF --></dt> <dd><!-- IF MF_TOTAL > 0 --><!-- BEGIN mutual_friend --><!-- IF not mutual_friend.S_FIRST -->, <!-- ENDIF -->{mutual_friend.USERNAME}<!-- END mutual_friend --><!-- ENDIF --></dd>
				<!-- ENDIF -->
			</dl>
			
			</div>
		</div>
		
		<div id="contact" class="profile-box">
			<h2 class="header">{L_CONTACT_USER}</h2>	
			<div class="inner">
		
				<dl class="details">
				<!-- IF U_EMAIL --><dt>{L_EMAIL_ADDRESS}:</dt> <dd><a href="{U_EMAIL}">{L_SEND_EMAIL_USER} {USERNAME}</a></dd><!-- ENDIF -->
				<!-- IF U_WWW --><dt>{L_WEBSITE}:</dt> <dd><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}">{U_WWW}</a></dd><!-- ENDIF -->
				<!-- IF U_PM --><dt>{L_PM}:</dt> <dd><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></dd>
				<!-- ENDIF -->
				<!-- IF U_MSN or USER_MSN --><dt>{L_MSNM}:</dt> <dd><!-- IF U_MSN --><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_MSNM_MESSAGE}</a><!-- ELSE -->{USER_MSN}<!-- ENDIF --></dd><!-- ENDIF -->
				<!-- IF U_YIM or USER_YIM --><dt>{L_YIM}:</dt> <dd><!-- IF U_YIM --><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false;">{L_SEND_YIM_MESSAGE}</a><!-- ELSE -->{USER_YIM}<!-- ENDIF --></dd><!-- ENDIF -->
				<!-- IF U_AIM or USER_AIM --><dt>{L_AIM}:</dt> <dd><!-- IF U_AIM --><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_AIM_MESSAGE}</a><!-- ELSE -->{USER_AIM}<!-- ENDIF --></dd><!-- ENDIF -->
				<!-- IF U_ICQ or USER_ICQ --><dt>{L_ICQ}:</dt> <dd><!-- IF U_ICQ --><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_ICQ_MESSAGE}</a><!-- ELSE -->{USER_ICQ}<!-- ENDIF --></dd><!-- ENDIF -->
				<!-- IF U_JABBER and S_JABBER_ENABLED --><dt>{L_JABBER}:</dt> <dd><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_JABBER_MESSAGE}</a></dd><!-- ELSEIF USER_JABBER --><dt>{L_JABBER}:</dt> <dd>{USER_JABBER}</dd><!-- ENDIF -->
				<!-- IF S_profile_FIELD_1 -->
					<!-- NOTE: Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
					<dt>{postrow.profile_FIELD1_NAME}:</dt> <dd>{postrow.profile_FIELD1_VALUE}</dd>
				<!-- ENDIF -->
				</dl>
			
			</div>
		</div>
	</div>
	</form>
	
	<div id="profile-body">
		
	<!-- IF not S_NO_FRIENDS -->
	<div id="friends" class="profile-box">
		<h2 class="header">{L_FRIENDS}</h2>
		<div class="inner">
			<!-- BEGIN fri -->
			<div class="friend">
				<a class="thumbnail" href="{fri.AV_LINK}">
					<span><!-- IF fri.USER_COLOR --><b style="color:#{fri.USER_COLOR}"> <!-- ELSE --><b style="color:#000;"><!-- ENDIF -->{fri.USERNAME}</b><!-- IF fri.ONLINE_USER -->(<strong>{L_ONLINE}</strong>)<!-- ENDIF -->
					<br /><!-- IF fri.FRI_AV --></span>{fri.FRI_AV_THUMB} <!-- ELSE --></span><img src="{T_THEME_PATH}/images/no-avatar.png" height="{fri.WIDTH}" width="{fri.WIDTH}" alt="Default Avatar" /><!-- ENDIF -->
				</a>
			</div>
			<!-- END fri -->
			
			<div class="friends-pagination">{TOTAL_FRIENDS} &bull; <a href="{U_VIEW_ALL}">{L_VIEW_ALL}</a> &bull; <!-- IF FRINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER_F}</a> &bull; <span>{FRINATION}</span><!-- ELSE -->{PAGE_NUMBER_F}<!-- ENDIF --></div>
		</div>
	</div>
	<!-- ENDIF -->

	
	<div id="comment-buttons">
		<div class="buttons"><a href="#postingbox" id="add_comment" class="button2" title="Add Comment">{L_ADD_COMMENT}</a></div>
		<div class="pagination">{TOTAL_COMMENT} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></div>
	</div>
	
	<!-- IF SIMPLE_COMMENT_ENABLED && ALLOW_ALL_COMMENT && not FOE -->
	<!-- IF ALLOW_FRIEND_ONLY -->
			{L_FRIEND_COMMENT} - <a href="{U_ADD_FRIEND}"><strong>{L_ADD_FRIEND}</strong></a><br />
	<!-- ELSE  -->
	<form action="{NEW_COMMENT}" method="post" id="postform" name="comment">
		<div class="profile-box" id="postingbox">
			<h2 class="header">{L_profile_COMMENTS}</h2>
			<div class="inner">
				<fieldset class="fields1">
					<!-- INCLUDE posting_buttons.html -->
					<!-- IF .smiley --><div id="smiley-box"><!-- BEGIN smiley --><a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a><!-- END smiley --></div><!-- ENDIF -->
					<div id="message-box">
						<textarea name="comment_text" id="message" cols="40" rows="6"></textarea>
						<input name="comment_to_id" type="hidden" value="{COMMENT_TO_ID}" />
					</div>
				</fieldset>
				<div class="submit-button"><input name="Submit " type="submit" id="Submit" class="button1" value="{L_SUBMIT}" /></div>
			</div>
		</div>
	</form>
	<!-- ENDIF -->
	
	<div id="comments" class="profile-box">
		
		<!-- IF ALLOW_FRIEND_VIEW -->
			{L_ONLY_FRIEND} - <a href="{U_ADD_FRIEND}"><strong>{L_ADD_FRIEND}</strong></a><br />
		<!-- ELSE -->
			<!-- IF TOTAL_COMMENT == 0 --> {L_NO_COMMENT} <!-- ENDIF -->
	
		<!-- BEGIN comment -->
			<div class="comment<!-- IF comment.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --> hb_container">
				<div class="avatar"><!-- IF comment.COMMENT_AVATAR_THUMB -->{comment.COMMENT_AVATAR_THUMB}<!-- ELSE --><img src="{T_THEME_PATH}/images/no-avatar.png" height="40px" width="40px" alt="Default Avatar" /><!-- ENDIF --></div>
				<div class="body">
					<div class="username">{comment.COMMENT_AUTHOR}
						<ul class="hb">
							<li><a href="{comment.U_USER_URL}#postform">{L_REPLY}</a></li><!-- IF comment.CAN_DELETE or (U_MCP or U_ACP) --><li class="delete-icon"><a href="{comment.U_DELETE_URL}"><span>{L_DELETE}</span></a></li><!-- ENDIF -->
						</ul>
					</div>
					<div class="message">
						{comment.COMMENT_TEXT}
						<span class="date">{comment.COMMENT_DATE}</span>
					</div>
				</div>	
			</div>
		<!-- END comment -->
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->
	
	<!-- IF SIGNATURE -->
	<div id="signature" class="profile-box">
		<h2 class="header">{L_SIGNATURE}</h2>
		<div class="inner">
			{SIGNATURE}
		</div>
	</div>
	<!-- ENDIF -->
	
	</div>
</div>

<script type="text/javascript">
$(function() {
	$("#postingbox").hide();
	
	$("#add_comment").toggle(function() {
		$(this).html("Hide comment");
		$("#postingbox").stop().show();
	}, function() {
		$(this).html("Add comment");
		$("#postingbox").stop().fadeOut();
	});
});
</script>
