	</div>
	
	<!-- IF $CA_PAGE eq 'index' -->
    <div id="footer-tier" class="tier">
	<div id="board-statistics" class="rounded inner">
		<div class="stats">
			<h3>{L_ST_TOT}</h3>
			<dl>
				<dt>{TOTAL_POSTS}</dt>
				<dd>{L_TOTAL_POSTS}</dd>
				<dt>{TOTAL_TOPICS}</dt>
				<dd>{L_TOTAL_TOPICS}</dd>
				<dt>{S_ANN}</dt>
				<dd>{L_ST_TOT_ANNS}</dd>
				<dt>{S_SCT}</dt>
				<dd>{L_ST_TOT_STICKYS}</dd>
				<dt>{S_TOT_ATTACH}</dt>
				<dd>{L_ST_TOT_ATTACH}</dd>
				<dt>{TOTAL_USERS}</dt>
				<dd>{L_TOTAL_USERS}</dd>
			</dl>
			<h3>{L_24HOUR_STATS}</h3>
			<dl>
				<dt>{24HOUR_POSTS}</dt>
				<dd>{L_24HOUR_POSTS}</dd>
				<dt>{24HOUR_TOPICS}</dt>
				<dd>{L_24HOUR_TOPICS}</dd>
				<dt>{24HOUR_USERS}</dt>
				<dd>{L_24HOUR_USERS}</dd>
			</dl>
		</div>
		<!-- IF S_DISPLAY_ONLINE_LIST --><!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3>
		<!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3>
		<!-- ENDIF --><p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})
			<br/>
			{RECORD_USERS}
			<br/>
			<br/>
			{LOGGED_IN_USER_LIST}
		</p>
		<p>{NEWEST_USER}</p>
		<!-- IF not S_IS_BOT --><p>{USERS_24HOUR_TOTAL}: <!-- BEGIN lastvisit -->{lastvisit.USERNAME_FULL}<!-- IF not lastvisit.S_LAST_ROW -->, <!-- ENDIF --><!-- END lastvisit --></p>
		<!-- ENDIF --><!-- IF LEGEND --><h4>{L_LEGEND}:</h4>
		{LEGEND}<!-- ENDIF --><!-- ENDIF --><!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST --><h3>{L_BIRTHDAYS}</h3>
		<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <h4>{BIRTHDAY_LIST}</h4><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
		<!-- ENDIF -->
	</div>
    </div>
	<!-- ENDIF -->

	<div id="page-footer">
		<div id="footer-utilities" class="rounded">
			<ul class="linklist">
				<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
				<!-- IF not S_IS_BOT --><!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
				<!-- IF U_WATCH_TOPIC --><li<!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
				<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF --><!-- ENDIF -->
				<li class="rightside"><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; <!-- ENDIF -->{S_TIMEZONE}</li>
			</ul>
		</div>
		<div class="copyright">
			Copyright &copy; 2009, 2010 ZeroZaku. All rights reserved.
			<br/>
			Powered by <a href="http://www.phpbb.com/">phpBB</a>
			<!-- IF DEBUG_OUTPUT -->
			<br/>
			{DEBUG_OUTPUT}<!-- ENDIF -->
		</div>
		<div class="util_links">
			<!-- IF U_ACP --><a href="{U_ACP}">{L_ACP}</a> &bull; <!-- ENDIF -->
			<!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; <!-- ENDIF -->
			<!-- IF S_DISPLAY_MEMBERLIST --><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}">{L_MEMBERLIST}</a>&bull; <!-- ENDIF -->
			<!-- IF S_MCHAT_ENABLE and U_MCHAT --><a href="{U_MCHAT}" title="{L_MCHAT}">{L_MCHAT}</a> &bull; <!-- ENDIF -->
			<a href="{U_FAQ}" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a>
		</div>
	</div>

</div>
</div>

<div><a id="bottom" name="bottom" accesskey="z"></a><!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF --></div>
<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-6596797-2']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
<!-- Start Quantcast tag -->
<script type="text/javascript">_qoptions={qacct:"p-11CKqyQY5DO9Q"};</script>
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<noscript><img src="http://pixel.quantserve.com/pixel/p-11CKqyQY5DO9Q.gif" style="display: none;" height="1" width="1" alt="Quantcast"/></noscript>
<!-- End Quantcast tag -->
</body>
</html>
