<!-- DEFINE $S_IN_PORTAL = 1 -->
<!-- INCLUDE portal/_block_config.html -->

	<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH and S_USER_LOGGED_IN -->
	<div id="search-box">
		<form action="{U_SEARCH}" method="post" id="search">
		<fieldset>
			<input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" /> 
			<input class="button1" value="{L_GO}" type="submit" />{S_SEARCH_HIDDEN_FIELDS}
		</fieldset>
		</form>
	</div>
	<!-- ENDIF -->

	<!-- INCLUDE portal/block/additional_blocks_right.html -->

	<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and S_ZEBRA_ENABLED and S_DISPLAY_FRIENDS -->
		<!-- INCLUDE portal/block/online_friends.html -->
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_TOP_POSTERS -->
		<!-- INCLUDE portal/block/top_poster.html -->
	<!-- ENDIF -->
	
	<!-- INCLUDE milestones.html -->

	<!-- IF S_DISPLAY_ADVANCED_STAT -->
		<!-- INCLUDE portal/block/statistics.html -->
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_LINKS -->
		<!-- INCLUDE portal/block/links.html -->
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_LEADERS_EXT -->
		<!-- INCLUDE portal/block/leaders_ext.html -->
	<!-- ELSEIF S_DISPLAY_LEADERS -->
		<!-- INCLUDE portal/block/leaders.html -->
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_PAY_S -->
		<!-- INCLUDE portal/block/donation_small.html -->
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_PAY_C -->
		<!-- INCLUDE portal/block/donation.html -->
	<!-- ENDIF -->
	
	<!-- Begin: AdBrite, Generated: 2009-11-30 0:38:32  -->
	<div style="text-align: center;">
	<script type="text/javascript">
	var AdBrite_Title_Color = '2D4054';
	var AdBrite_Text_Color = '212121';
	var AdBrite_Background_Color = 'FFFFFF';
	var AdBrite_Border_Color = 'D0D0D0';
	var AdBrite_URL_Color = 'FF530D';
	try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
	</script>
	<script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=1434695&amp;zs=3136305f363030&amp;ifr='+AdBrite_Iframe+'&amp;ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
	<div><a href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=1434695&amp;afsid=1" style="font-weight:bold;font-family:Arial;font-size:13px;">Your Ad Here</a></div>
	</div>
	<!-- End: AdBrite -->