<!-- DEFINE $S_IN_PORTAL = 1 -->
<!-- INCLUDE portal/_block_config.html -->

	<!-- INCLUDE portal/block/additional_blocks_right.html -->

	<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and S_ZEBRA_ENABLED and S_DISPLAY_FRIENDS -->
		<!-- INCLUDE portal/block/online_friends.html -->
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_TOP_POSTERS -->
		<!-- INCLUDE portal/block/top_poster.html -->
	<!-- ENDIF -->
	
	<div id="user_statuses">
		<h2>{L_USER_STATUS}</h2>
		<ul>
		<!-- BEGIN user_statuses -->
			<!-- IF user_statuses.STATUS neq '' --><li><div class="inner"><span>{user_statuses.USERNAME}</span> &nbsp; {user_statuses.STATUS}</div></li><!-- ENDIF -->
		<!-- END user_statuses -->
		</ul>
	</div>
	
	<!-- IF REC_FRIEND_TOTAL > 0 -->
	<div class="leaderboard rec_friend">
		<h2>{L_MFR_PEOPLE_LIKE}</h2>
		<ul>
		<!-- BEGIN rec_friend -->
			<li><div class="inner">{rec_friend.USERNAME} <a href="{rec_friend.ADD_URL}" rel="add_rec" alt="{rec_friend.USER_ID}"><img src="{T_THEME_PATH}/images/round_plus.png" alt="Add Friend" /></a></div></li>
		<!-- END rec_friend -->
		</ul>
	</div>
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_LINKS -->
		<!-- INCLUDE portal/block/links.html -->
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_LEADERS_EXT -->
		<!-- INCLUDE portal/block/leaders_ext.html -->
	<!-- ELSEIF S_DISPLAY_LEADERS -->
		<!-- INCLUDE portal/block/leaders.html -->
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_PAY_S -->
		<!-- INCLUDE portal/block/donation_small.html -->
	<!-- ENDIF -->
	
	<!-- IF S_DISPLAY_PAY_C -->
		<!-- INCLUDE portal/block/donation.html -->
	<!-- ENDIF -->