<!-- INCLUDE ucp_header.html -->
<h2>{L_CLIENT_ADD}</h2>
<form action="{U_ACTION}" method="post">
<div class="panel">
	<div class="inner">
		<!-- IF ERROR --><div class="error">{ERROR}</div><br /><br /><!-- ENDIF -->
		
		{L_CLIENTS_ADD_EXPLAIN}
		<fieldset>
			<h3 class="sub">{L_CLIENT_DETAILS}</h3>
			<dl>
				<dt><label for="client_name">{L_CLIENT_NAME}:</label><br /><span>{L_CLIENT_NAME_EXPLAIN}</span></dt>
				<dd><input type="text" name="client_name" id="client_name" value="{CLIENT_NAME}" class="inputbox autowidth" /></dd>
			</dl>
			<dl>
				<dt><label for="client_desc">{L_CLIENT_DESC}:</label><br /><span>{L_CLIENT_DESC_EXPLAIN}</span></td>
				<dd><textarea rows="2" cols="30" name="client_desc" id="client_desc" class="inputbox narrow">{CLIENT_DESC}</textarea></dd>
			</dl>
			<dl>
				<dt><label for="client_pass">{L_CLIENT_PASS}:</label><br /><span>{L_CLIENT_PASS_EXPLAIN}</span></td>
				<dd><input type="password" name="client_pass" id="client_pass" class="inputbox autowidth" value="{CLIENT_PASS}" /></dd>
			</dl>
			<dl>
				<dt><label for="client_passconf">{L_CLIENT_PASSCONF}:</label></td>
				<dd><input type="password" name="client_passconf" id="client_pass" class="inputbox autowidth" value="{CLIENT_PASSCONF}" /></dd>
			</dl>
		</fieldset>
	</div>
</div>

<fieldset class="submit-buttons">
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	<input type="reset" name="reset" value="{L_RESET}" class="button2" />
	{S_FORM_TOKEN}
</fieldset>
</form>
<!-- INCLUDE ucp_footer.html -->
