<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner">

	<p>{L_FOES_EXPLAIN}</p>

	<fieldset class="fields2">
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<dl>
		<dt><label for="add">{L_ADD_FOES}:</label><br /><span>{L_ADD_FOES_EXPLAIN}</span></dt>
		<dd><textarea name="add" id="add" rows="3" cols="30" class="inputbox">{USERNAMES}</textarea></dd>
		<dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd>
		<dd><input type="submit" class="button2" value="Add Foe" name="submit" /></dd>
	</dl>
	</fieldset>
	
	<ul class="topiclist">
		<li class="header">
			<dl class="meta">
				<dt class="no-icon"><div class="inner">{L_FOES}</div></dt>
				<dd class="mark">{L_DELETE}</dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist cplist">
		<!-- IF TOTAL > 0 -->
		<!-- BEGIN zebra -->
		<li class="row<!-- IF zebra.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<dt class="no-icon"><div class="inner">
					<span>{zebra.USERNAME}</span>
				</div></dt>
				<dd class="mark"><input type="checkbox" name="usernames[]" value="{zebra.USER_ID}" /></dd>
			</dl>
		</li>
		<!-- END zebra -->
		<!-- ELSE -->
			<dl><dt class="no-icon"><div class="inner"><span>{L_NO_FOES}<span></div></dt></dl>
		<!-- ENDIF -->
	</ul>
	
	</div>
</div>

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp; 
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />
	{S_FORM_TOKEN}
</fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->