<!-- DEFINE $CA_PAGE = 'viewtopic' --><!-- INCLUDE overall_header.html --><!-- INCLUDE portal/_block_config.html --><!-- INCLUDE quickedit.html -->

<!-- IF FORUM_DESC or .term -->
<div id="post-term-box" class="panel smooth info">
	<img src="{T_THEME_PATH}/images/tags/tag.png" alt="{L_TERMS}" title="{L_TERMS}" />
	<p>
		<!-- IF .term -->
			<!-- BEGIN term --><a href="{term.U_TERM}" class="term">{term.NAME}</a> <!-- END term -->
		<!-- ELSE -->{FORUM_DESC}<!-- ENDIF -->
	</p>
</div>
<!-- ENDIF -->

<!-- IF AD_URL -->
<div class="center">
	<a href="{AD_URL}" title="{AD_TEXT}" class="ad" rel="{AD_ID}" target="_blank"><img src="{AD_IMG}" alt="{AD_TEXT}" /></a>
</div>
<!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules">
		<div class="inner">
		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->
		</div>
	</div>
<!-- ENDIF -->

<div class="topic-actions">
	<div class="buttons">
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->"><a href="{U_POST_REPLY_TOPIC}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED_SHORT}<!-- ELSE -->{L_REPLY}<!-- ENDIF --></a></div>
	<!-- ENDIF -->
	</div>

	<!-- IF S_DISPLAY_SEARCHBOX -->
		<div class="search-box">
			<form method="post" id="topic-search" action="{S_SEARCHBOX_ACTION}">
			<fieldset>
				<input class="inputbox search tiny"  type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_TOPIC}" onclick="if(this.value=='{LA_SEARCH_TOPIC}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_TOPIC}';" />
				<input class="button2" type="submit" value="{L_SEARCH}" />
				<input type="hidden" value="{TOPIC_ID}" name="t" />
				<input type="hidden" value="msgonly" name="sf" />
			</fieldset>
			</form>
		</div>
	<!-- ENDIF -->

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="pagination">
			<!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --><a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a> &bull; <!-- ENDIF -->{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->
</div>
<div class="clear"></div>

<!-- IF S_HAS_POLL -->
	<script type="text/javascript">$(function(){$(".pollbar").each(function(){var a=$(this).attr("rel");$(this).css({width:"0%"}).animate({width:a},2000,"easeOutSine")})});</script>

	<form method="post" action="{S_POLL_ACTION}">
		<fieldset class="polls">
		<h3>{POLL_QUESTION}</h3>

		<p class="author">{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE -->{L_MAX_VOTES}<!-- ENDIF --><!-- IF S_DISPLAY_RESULTS --> ({L_TOTAL_VOTES} : {TOTAL_VOTES})<!-- ENDIF --></p>
			
		<!-- BEGIN poll_option -->
			<dl class="<!-- IF poll_option.POLL_OPTION_VOTED -->voted<!-- ENDIF --><!-- IF poll_option.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->"<!-- IF poll_option.POLL_OPTION_VOTED --> title="{L_POLL_VOTED_OPTION}"<!-- ENDIF -->>
				<dt><!-- IF S_CAN_VOTE --><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label><!-- ELSE -->{poll_option.POLL_OPTION_CAPTION}<!-- ENDIF --></dt>
				<!-- IF S_CAN_VOTE --><dd style="width: auto;"><!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></dd><!-- ENDIF -->
				<!-- IF S_DISPLAY_RESULTS --><dd class="resultbar"><div class="pollbar <!-- IF poll_option.POLL_OPTION_PCT < 20 -->pollbar1<!-- ELSEIF poll_option.POLL_OPTION_PCT < 40 -->pollbar2<!-- ELSEIF poll_option.POLL_OPTION_PCT < 60 -->pollbar3<!-- ELSEIF poll_option.POLL_OPTION_PCT < 80 -->pollbar4<!-- ELSE -->pollbar5<!-- ENDIF -->" rel="{poll_option.POLL_OPTION_PERCENT}" style="width:{poll_option.POLL_OPTION_PERCENT};">{poll_option.POLL_OPTION_RESULT}</div></dd>
				<dd class="results"><!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF --><!-- IF S_SHOW_VOTERS --><!-- IF not S_CAN_VOTE --><dt>&nbsp;</dt><!-- ENDIF --><dd class="resultbar">{poll_option.POLL_OPTION_VOTERS}</dd><!-- ENDIF --></dd><!-- ENDIF -->
			</dl>
		<!-- END poll_option -->

		<!-- IF S_CAN_VOTE -->
			<dl>
				<dt>&nbsp;</dt>
				<dd class="resultbar"><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" /></dd>
			</dl>
		<!-- ENDIF -->

		<!-- IF not S_DISPLAY_RESULTS -->
			<dl>
				<dt>&nbsp;</dt>
				<dd class="results"><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></dd>
			</dl>
		<!-- ENDIF -->
		</fieldset>
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</form>
<!-- ENDIF -->

<h1 class="topictitle">
	<a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a>
	<!-- IF U_PRINT_TOPIC --><a href="{U_PRINT_TOPIC}" title="{L_PRINT_TOPIC}" accesskey="p" class="topicactions print">{L_PRINT_TOPIC}</a><!-- ENDIF -->
	<!-- IF U_PRINT_PM --><a href="{U_PRINT_PM}" title="{L_PRINT_PM}" accesskey="p" class="topicactions print">{L_PRINT_PM}</a><!-- ENDIF -->
</h1>
<!-- BEGIN postrow -->
	<!-- IF postrow.S_FIRST_UNREAD --><a id="unread"></a><!-- ENDIF -->
	<div id="p{postrow.POST_ID}" class="post bg1<!-- IF postrow.S_POST_DELETED --> reported<!-- ENDIF -->">
		<div class="inner">
			
		<div class="postmeta">
			<span class="username <!-- IF postrow.S_IS_BANNED--> banned<!-- ENDIF -->">{postrow.POST_AUTHOR_FULL}</span>
			<span class="date">{postrow.POST_DATE} <a href="{postrow.U_MINI_POST}" title="{L_PERMALINK} to post #{postrow.POST_ID}">{postrow.MINI_POST_IMG}{postrow.POST_ID}</a></span>
		</div>

		<div class="postbody">
			<!-- IF postrow.S_IGNORE_POST -->
				<div class="ignore">{postrow.L_IGNORE_POST}</div>
			<!-- ELSEIF postrow.S_BURIED_POST -->
				<div class="ignore">{postrow.L_BURIED_POST}</div>
			<!-- ELSE -->

			<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
				<p class="rules">
					<!-- IF postrow.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><br /><!-- ENDIF -->
					<!-- IF postrow.S_POST_REPORTED -->{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
				</p>
			<!-- ENDIF -->

			<div class="content" id="postdiv{postrow.POST_ID}">{postrow.MESSAGE}</div>

			<!-- IF postrow.S_HAS_ATTACHMENTS -->
				<dl class="attachbox" style="width: 97%;">
					<dt>{L_ATTACHMENTS}</dt>
					<!-- BEGIN attachment -->
						<dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
					<!-- END attachment -->
				</dl>
			<!-- ENDIF -->

			<!-- IF postrow.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
			<!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
				<div class="notice">{postrow.EDITED_MESSAGE}
					<!-- IF postrow.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
				</div>
			<!-- ENDIF -->

			<!-- IF postrow.S_POST_DELETED --><div class="notice">{postrow.DELETED_MESSAGE}<br/></div><!-- ENDIF -->
			<!-- IF postrow.BUMPED_MESSAGE --><div class="notice"><br /><br />{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
			<!-- IF postrow.SIGNATURE --><div id="sig{postrow.POST_ID}" class="signature">{postrow.SIGNATURE}</div><!-- ENDIF -->
			<!-- ENDIF -->
		</div>

		<!-- IF not postrow.S_IGNORE_POST && not postrow.S_BURIED_POST -->
		<dl class="postprofile" id="profile{postrow.POST_ID}">
			<dt>
				<!-- IF postrow.POSTER_AVATAR -->
					<!-- IF postrow.U_POST_AUTHOR --><a href="{postrow.U_POST_AUTHOR}">{postrow.POSTER_AVATAR}</a><!-- ELSE -->{postrow.POSTER_AVATAR}<!-- ENDIF --><br />
				<!-- ELSE -->
					<img src="{T_THEME_PATH}/images/no-avatar.png" height="100px" width="100px" alt="Default Avatar" />
				<!-- ENDIF -->
			</dt>
			
			<!-- IF postrow.S_STATUS neq '' -->
				<dd class="user_status">{postrow.S_STATUS}</dd>
			<!-- ENDIF -->
			
			<br />
			
			<!-- IF S_REPUTATION and postrow.S_USER_REPUTATION -->
			<dd class="reputation">
				<!-- IF S_REP_DISPLAY neq 'block' --><strong>{L_RP_TOTAL_POINTS}:</strong> {postrow.REPUTATION_TEXT}<!-- ENDIF -->
				<!-- IF S_REP_DISPLAY neq 'text'  --><!-- IF postrow.U_VIEW_REP --><a href="{postrow.U_VIEW_REP}" onclick="popup(this.href, 780, 550); return false;" ><!-- ENDIF -->{postrow.REPUTATION_BLOCK}<!-- IF postrow.U_VIEW_REP --></a><!-- ENDIF --><!-- ENDIF -->
				<br /><!-- IF postrow.S_GIVE_REPUTATION --><a href="{postrow.U_ADD_POS}"><img src="{T_IMAGES_PATH}reputation/add.png" title="{L_RP_ADD_POINTS} {postrow.POST_AUTHOR}" alt="{L_RP_ADD_POINTS} {postrow.POST_AUTHOR}" /></a> <!-- IF postrow.S_GIVE_NEGATIVE--><a href="{postrow.U_ADD_NEG}"><img src="{T_IMAGES_PATH}reputation/subtract.png" title="{L_RP_SUBTRACT_POINTS} {postrow.POST_AUTHOR}" alt="{L_RP_SUBTRACT_POINTS} {postrow.POST_AUTHOR}" /></a><!-- ENDIF --><!-- ENDIF -->
			</dd>
			<!-- ENDIF -->

		<!-- IF postrow.RANK_TITLE or postrow.RANK_IMG --><dd><strong>{L_RANK_TITLE}</strong> {postrow.RANK_TITLE}<!-- IF postrow.RANK_TITLE and postrow.RANK_IMG --><br /><!-- ENDIF -->{postrow.RANK_IMG}</dd><!-- ENDIF -->
		<!-- IF postrow.POSTER_POSTS != '' --><dd><strong>{L_POSTS}</strong> {postrow.POSTER_POSTS}</dd><!-- ENDIF -->
		<!-- IF postrow.POSTER_JOINED --><dd><strong>{L_JOINED}</strong> {postrow.POSTER_JOINED}</dd><!-- ENDIF -->
		<!-- IF postrow.POSTER_FROM --><dd><strong>{L_LOCATION}</strong> {postrow.POSTER_FROM}</dd><!-- ENDIF -->

		<!-- IF postrow.S_PROFILE_FIELD1 -->
			<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
			<dd><strong>{postrow.PROFILE_FIELD1_NAME}</strong> {postrow.PROFILE_FIELD1_VALUE}</dd>
		<!-- ENDIF -->

		<!-- BEGIN custom_fields -->
			<!-- IF not postrow.custom_fields.PROFILE_FIELD_NAME eq "Custom Title" -->
				<dd><strong>{postrow.custom_fields.PROFILE_FIELD_NAME}</strong> {postrow.custom_fields.PROFILE_FIELD_VALUE}</dd>
			<!-- ENDIF -->
		<!-- END custom_fields -->
		</dl>

		<div class="caffeine">
			<div>
			<!-- IF postrow.S_COMMUNITY_MOD_ENABLED -->
				<strong class="<!-- IF postrow.POST_SCORE == 0 -->neutral<!-- ELSEIF postrow.POST_SCORE > 0 -->positive<!-- ELSE -->negative<!-- ENDIF -->">{postrow.POST_SCORE}</strong>
			  	<!-- IF postrow.S_CAN_COMMUNITY_MOD and not postrow.S_HAS_VOTED --><span class="hover"><a href="{postrow.U_UPVOTE}" title="{L_UPVOTE}"><img src="{T_IMAGES_PATH}reputation/add.png" class="positive" /></a> <a href="{postrow.U_DOWNVOTE}" title="{L_DOWNVOTE}"><img src="{T_IMAGES_PATH}reputation/subtract.png" class="negative" /></a></span><!-- ENDIF -->
			<!-- ENDIF -->
			</div>
		</div>

		<ul class="profile-icons">
		<!-- IF not S_IS_BOT -->
			<!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
					<!-- IF postrow.U_EDIT --><li class="edit-icon profile-icon"><a href="{postrow.U_EDIT}" title="{L_EDIT_POST}"><span>{L_ADVANCEDEDIT}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_EDIT --><li class="quick-edit-icon"><a href="#" id="quick_edit{postrow.POST_ID}" class="quick-edit" rel="{postrow.POST_ID}" onclick="quick_edit({postrow.POST_ID}); return false;" title="{L_QUICKEDIT_POST}"><span>{L_QUICKEDIT_POST}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_DELETE --><li class="delete-icon profile-icon"><a href="{postrow.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_REPORT --><li class="report-icon profile-icon"><a href="{postrow.U_REPORT}" title="{L_REPORT_POST}"><span>{L_REPORT}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_WARN --><li class="warn-icon profile-icon"><a href="{postrow.U_WARN}" title="{L_WARN_USER}"><span>{L_WARN_USER}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_INFO --><li class="info-icon profile-icon"><a href="{postrow.U_INFO}" title="{L_INFORMATION}"><span>{L_INFORMATION}</span></a></li><!-- ENDIF -->
					<!-- IF postrow.U_QUOTE --><li class="quote-icon profile-icon"><a href="{postrow.U_QUOTE}" title="{L_REPLY_WITH_QUOTE}"><span>{L_QUOTE}</span></a></li><!-- ENDIF -->
			<!-- ENDIF -->
		<!-- ENDIF -->
		</ul>
		
		<!-- ENDIF -->
		</div>
	</div>
<!-- END postrow -->

<!-- IF S_NUM_POSTS > 1 or PREVIOUS_PAGE -->
	<form id="viewtopic" method="post" action="{S_TOPIC_ACTION}">

	<fieldset class="display-options">
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<!-- IF not S_IS_BOT -->
		<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label>
		<!-- ENDIF -->
	</fieldset>

	</form>
<!-- ENDIF -->

<div class="topic-actions">
	<div class="buttons">
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->"><a href="{U_POST_REPLY_TOPIC}"  title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED_SHORT}<!-- ELSE -->{L_REPLY}<!-- ENDIF --></a></div>
	<!-- ENDIF -->
	</div>

	<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="pagination">
			{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
	<!-- ENDIF -->
</div>

<!-- IF QUICK_REPLY --><!-- INCLUDE quick_reply.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_RECENT -->
	<!-- INCLUDE portal/block/recent.html -->
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- IF S_TOPIC_MOD -->
	<form method="post" action="{S_MOD_ACTION}">
	<fieldset class="quickmod">
		<label for="quick-mod-select">{L_QUICK_MOD}:</label> {S_TOPIC_MOD} <input type="submit" value="{L_GO}" class="button2" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>
<!-- ENDIF -->

<div id="board-statistics">
<!-- IF S_DISPLAY_ONLINE_LIST -->
	<h3><!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a><!-- ELSE -->{L_WHO_IS_ONLINE}<!-- ENDIF --></h3>
	<p>{LOGGED_IN_USER_LIST}</p>
<!-- ENDIF -->
</div>

<!-- INCLUDE overall_footer.html -->