<!--version $Id: _block_config.html 479 2009-03-15 11:19:27Z kevin74 $ //-->
<!-- Config for the left and right blocks //-->
<!-- DEFINE $LR_BLOCK_H_L = '<div class="block-header"><span><span></span></span></div><div class="block-content"><div class="block-inner"><ul class="topiclist"><li class="header" style="padding-left: 4px; padding-bottom: 2px;">' -->
<!-- DEFINE $LR_BLOCK_H_R = '</li></ul><div style="padding:4px;">' -->
<!-- DEFINE $LR_BLOCK_F_L = '</div>' -->
<!-- DEFINE $LR_BLOCK_F_R = '<div class="block-clear"></div></div></div><div class="block-footer"><span><span></span></span></div><br style="clear:both" />' -->

<!-- Config for the center blocks //-->
<!-- DEFINE $C_BLOCK_H_L = '<div class="block-header"><span><span></span></span></div><div class="block-content"><div class="block-inner"><ul class="topiclist"><li class="header">' -->
<!-- DEFINE $C_BLOCK_H_R = '</li></ul><div style="padding:4px;">' -->
<!-- DEFINE $C_BLOCK_F_L = '</div>' -->
<!-- DEFINE $C_BLOCK_F_R = '<div class="block-clear"></div></div></div><div class="block-footer"><span><span></span></span></div><br style="clear:both" />' -->

<!-- Config for the regular blocks //-->
<!-- DEFINE $Z_BLOCK_H_L = '<div class="block-header"><span><span></span></span></div><div class="block-content"><div class="block-inner"><ul class="topiclist"><li class="header"><dl class="icon"><dt>' -->
<!-- DEFINE $Z_BLOCK_H_R = '<dt></dl></li></ul><div style="padding:4px;">' -->
<!-- DEFINE $Z_BLOCK_F_L = '</div>' -->
<!-- DEFINE $Z_BLOCK_F_R = '<div class="block-clear"></div></div></div><div class="block-footer"><span><span></span></span></div><br style="clear:both" />' -->

<!-- Config for the non-padded blocks //-->
<!-- DEFINE $NP_BLOCK_H_L = '<div class="block-header"><span><span></span></span></div><div class="block-content"><div class="block-inner"><ul class="topiclist"><li class="header"><dl class="icon"><dt>' -->
<!-- DEFINE $NP_BLOCK_H_R = '<dt></dl></li></ul>' -->
<!-- DEFINE $NP_BLOCK_F = '<div class="block-clear"></div></div></div><div class="block-footer"><span><span></span></span></div><br style="clear:both" />' -->

<!-- Images-URL //-->
<!-- DEFINE $NO_AVATAR_IMG = '/images/no_avatar.gif' -->