<!-- INCLUDE overall_header.html -->
<div class="forumbg forumbg-table">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<form action="{U_ACTION}" method="post">
		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th class="name">{L_ADD_GROUP}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="bg1">
					<td class="row1"><b>{L_GROUP_NAME}</b>:</td><td class="row2"><input type="text" class="inputbox autowidth" name="group_name" /></td>
				</tr>
				<tr class="bg1">
					<td class="row1"><b>{L_GROUP_LOGO}</b>:<br /><span>{L_UPLOAD_AVATAR_URL_EXPLAIN}<br />{L_AVATAR_EXPLAIN}</span></td><td class="row2"><input type="text" class="inputbox autowidth" name="group_logo" /></td>
				</tr>
				<tr class="bg1">
					<td class="row1" valign="top"><b>{L_GROUP_DESC}</b>:</td><td class="row2"><textarea name="group_desc" cols="40" rows="5" class="inputbox narrow"></textarea></td>
				</tr>
				<tr class="bg2">
					<td class="row3" colspan="2" align="right"><input type="submit" name="submit" value="{L_SUBMIT}" class="button1" /></td>
				</tr>
			</tbody>
		</table>
		</form>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
