<!-- INCLUDE overall_header.html -->
<div class="forumbg forumbg-table">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th class="name" colspan="5">{L_TOURNAMENTS}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN block_tournaments -->
				<tr class="{block_tournaments.BG_COLOR}">
					<td class="{block_tournaments.ROW_COLOR}" align="center" valign="middle" width="30%">
						<strong>{block_tournaments.TIME}</strong>
					</td>
					<td class="{block_tournaments.ROW_COLOR}" valign="middle">
						<strong>{block_tournaments.TOURNAMENT_NAME}</strong><br /><br />
						<i>{L_PLATFORM}</i>: {block_tournaments.PLATFORM}<br />
						<i>{L_LADDER}</i>: {block_tournaments.LADDER}<br />
						<i>{L_SUBLADDER}</i>: {block_tournaments.SUBLADDER}<br /><br />
						<i>{L_TOURNAMENT_STARTS}</i>: {block_tournaments.TOURNAMENT_STARTS}
					</td>
					<td class="{block_tournaments.ROW_COLOR}" valign="middle" align="center">
						<!-- IF block_tournaments.SHOW_SIGNUP -->
						<a href="{block_tournaments.U_ACTION3}">{L_SIGNUP}</a> / 
						<!-- ENDIF -->
						<!-- IF block_tournaments.SHOW_INVITE -->
						{L_INVITE_ONLY}
						<!-- ENDIF -->
						<a href="{block_tournaments.U_ACTION}">{L_VIEW_BRACKETS}</a>
					</td>
					<td class="{block_tournaments.ROW_COLOR}" align="center" valign="middle">
						<a href="{block_tournaments.U_ACTION2}">{L_DETAILS}</a></form>
					</td>
				</tr>
				<!-- BEGINELSE -->
				<tr class="bg2">
					<td class="row1" colspan="5">{L_NO_TOURNAMENTS}</td>
				</tr>
				<!-- END block_tournaments -->
			</tbody>
		</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br />
<div class="topic-actions">
	<div class="pagination">
		<span>
			<form action="{U_ACTION}" method="post">
			{L_SEASON}: 
			<select name="season_id" id="season_id" class="inputbox autowidth">
				<!-- BEGIN block_seasons -->
				<option name="tourn_season" value="{block_seasons.SEASON_ID}">{block_seasons.SEASON_NAME}</option>
				<!-- END block_seasons -->
			</select> 
			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
			</form>
		</span>
		<br />
		<span>{PAGINATION}</span> &bull; {PAGE_NUMBER}<br />
	</div>
</div>
<div class="forumbg forumbg-table">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th class="name" colspan="3">{L_ARCHIVED_TOURNAMENTS} {SEASON_NAME}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN block_archivedtournaments -->
				<tr class="{block_archivedtournaments.BG_COLOR}">
					<td class="{block_archivedtournaments.ROW_COLOR}" align="center" valign="middle" width="30%">
						<strong>{block_archivedtournaments.TIME}</strong>
					</td>
					<td class="{block_archivedtournaments.ROW_COLOR}" valign="middle">
						<strong>{block_archivedtournaments.TOURNAMENT_NAME}</strong><br /><br />
						<i>{L_PLATFORM}</i>: {block_archivedtournaments.PLATFORM}<br />
						<i>{L_LADDER}</i>: {block_archivedtournaments.LADDER}<br />
						<i>{L_SUBLADDER}</i>: {block_archivedtournaments.SUBLADDER}
					</td>
					<td class="{block_archivedtournaments.ROW_COLOR}" align="center" valign="middle">
						<a href="{block_archivedtournaments.U_ACTION}">{L_VIEW_BRACKETS}</a>
					</td>
				</tr>
				<!-- BEGINELSE -->
				<tr class="bg2">
					<td class="row1" colspan="3">{L_NO_ARCHIVED_TOURNAMENTS}</td>
				</tr>
				<!-- END block_archivedtournaments -->
			</tbody>
		</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<div class="topic-actions">
	<div class="pagination">
		<span>{PAGINATION}</span> &bull; {PAGE_NUMBER}
		<br />
		<span>
			<form action="{U_ACTION}" method="post">
			{L_SEASON}: 
			<select name="season_id" id="season_id" class="inputbox autowidth">
				<!-- BEGIN block_seasons -->
				<option name="tourn_season" value="{block_seasons.SEASON_ID}">{block_seasons.SEASON_NAME}</option>
				<!-- END block_seasons -->
			</select> 
			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
			</form>
		</span>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->
