<!-- INCLUDE ucp_header.html -->
<!-- IF .block_groups -->
<h2>{L_MATCH_FINDER}</h2>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<table cellspacing="1">
			<col class="col1" />
			<col class="col2" />
			<col class="col1" />
			<col class="col2" />
			<col class="col1" />
			<col class="col2" />
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>{L_GROUP_WINS}</th>
					<th>{L_GROUP_LOSSES}</th>
					<th>{L_GROUP_STREAK}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN block_groups -->
				<tr class="{block_matchtime.block_groups.BG_COLOR}">
					<td align="center"><a href="{block_matchtime.block_groups.U_CHALLENGE}">{L_CHALLENGE}</a></td>
					<td ><a href="{block_matchtime.block_groups.U_GROUP}">{block_matchtime.block_groups.GROUP_NAME}</a></td>
					<td align="center">{block_matchtime.block_groups.GROUP_WINS}</td>
					<td align="center">{block_matchtime.block_groups.GROUP_LOSSES}</td>
					<td align="center">{block_matchtime.block_groups.GROUP_STREAK}</td>
				</tr>
				<!-- END block_groups -->
			</tbody>
		</table>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ELSE -->
<h2>{L_MATCH_FINDER}</h2>
<form action="{U_ACTION}" method="post">
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<fieldset>
		<dl>
			<dt><label for="match_time">{L_MATCH_WITHIN}:</label></dt>
			<dd>
				<select name="match_time" id="match_time" class="inputbox autowidth">
					<!-- BEGIN block_minutes -->
					<option name="match_time" id="match_time" value="{block_minutes.MINUTE}">{block_minutes.MINUTE} mins</option>
					<!-- END block_minutes -->
				</select>
			</dd>
		</dl>
		<dl>
			<dd><input type="radio" name="match_type" value="1" /> {L_SEARCH_AVAILABLE_GROUPS} | <input type="radio" name="match_type" value="2" /> {L_ADD_TO_MATCH_FINDER} 
			<select name="group_ladder">
				<!-- BEGIN block_ladders -->
				<option value="{block_ladders.SUBLADDER_ID}">P: {block_ladders.PLATFORM}, L: {block_ladders.LADDER}, S: {block_ladders.SUBLADDER}</option>
				<!-- END block_ladders -->
			</select>
			</dd>
		</dl>
		</fieldset>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<fieldset class="submit-buttons">
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
</fieldset>
</form>
<!-- ENDIF -->
<!-- INCLUDE ucp_footer.html -->
