<!-- INCLUDE ucp_header.html -->
<h2>{L_MANAGE_TOURNAMENTS}</h2>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{L_UNREPORTED_TOURNAMENTS}</dt>
					<dd class="info"><span>{L_OPTIONS}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist pmlist">
			<!-- BEGIN block_unreported -->
			<li class="row {block_unreported.BG_COLOR}">
				<dl>
					<dt>
						<span class="topictitle">{block_unreported.TOURNAMENT_NAME} vs {block_unreported.OPPONENT}</span>
					</dt>
					<dd>
						<a href="{block_unreported.U_REPORT_WIN}">{L_REPORT_WIN}</a>
					</dd>
				</dl>
			</li>
			</form>
			<!-- BEGINELSE -->
			<li class="row bg2">
				<dl>
					<dt>{L_NO_TOURNAMENTS}</dt>
				</dl>
			</li>
			<!-- END block_unreported -->
		</ul>
		<br />
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{L_REPORTED_TOURNAMENTS}</dt>
					<dd class="info"><span>{L_OPTIONS}</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist pmlist">
			<!-- BEGIN block_reported -->
			<li class="row {block_notstarted_tournaments.BG_COLOR}">
				<dl>
					<dt>
						<span class="topictitle">{block_reported.TOURNAMENT_NAME} vs {block_reported.OPPONENT}</span>
					</dt>
					<dd>
						<a href="{block_reported.U_CONFIRM_WIN}">{L_CONFIRM_WIN}</a> / <a href="{block_reported.U_CONTEST_RESULT}">{L_CONTEST_RESULT}</a>
					</dd>
				</dl>
			</li>
			</form>
			<!-- BEGINELSE -->
			<li class="row bg2">
				<dl>
					<dt>{L_NO_TOURNAMENTS}</dt>
				</dl>
			</li>
			<!-- END block_reported -->
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE ucp_footer.html -->
