<!-- INCLUDE ucp_header.html -->
<a href="{U_PENDING_MEMBERS}">{L_UCP_FACTIONS_PENDING_MEMBERS}</a> | <a href="{U_INVITE_MEMBERS}">{L_UCP_FACTIONS_INVITE_MEMBERS}</a><br />
<h2>{L_MANAGE_MEMBERS}</h2>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<form action="{U_ACTION}" method="post">
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt>{L_USERNAME}</dt>
						<dd class="info"><span>{L_OPTIONS}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist cplist pmlist">
				<!-- BEGIN block_members -->
				<li class="row {block_members.BG_COLOR}">
					<dl>
						<dt>
							<a href="{block_members.U_PROFILE}" class="topictitle">{block_members.MEMBER_NAME}</a>
						</dt>
						<dd>
							<input type="hidden" name="member_id[]" value="{block_members.MEMBER_ID}" /><input type="radio" name="members[]" value="1" /> <b>{L_DELETE}</b><!--<br /><input type="radio" name="members[]" value="2" /> <b>{L_ASSIGN_AS_LEADER}</b> / <input type="radio" name="members[]" value="3" /> <b>{L_ASSIGN_AS_BACKUP}</b>-->
						</dd>
					</dl>
				</li>
				<!-- BEGINELSE -->
				<li class="row bg2">
					<dl>
						<dt>{L_NO_MEMBERS}<dt>
					</dl>
				</li>
				<!-- END block_members -->
			</ul>

			<!-- IF .block_members -->
			<fieldset class="submit-buttons">
				<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
			</fieldset>
			<!-- ENDIF -->
			</form>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE ucp_footer.html -->
