<!-- INCLUDE ucp_header.html -->
<h2>{L_INVITE_USER}</h2>
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<form action="{U_ACTION}" method="post">
		<fieldset>
			<dl>
				<dt><label for="member_id">{L_USERNAME}:</label></dt>
				<dd><input type="text" name="member_id" id="member_id" class="inputbox autowidth" /></dd>
			</dl>
		</fieldset>
		<fieldset class="submit-buttons">
			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		</fieldset>
		</form>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- INCLUDE ucp_footer.html -->
