<!-- INCLUDE overall_header.html -->
<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">
			<p>	
				<!-- BEGIN block_alphas -->
					<a href="{block_alphas.U_ALPHA}">{block_alphas.ALPHA}</a> 
				<!-- END block_alphas -->
			</p>
			<p class="breadcrumbs">{PAGE_NUMBER}</p>
			<p class="datetime">{PAGINATION}</p>
		</td>
	</tr>
</table>
<br />
<form action="{U_ACTION}" method="post">
<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">{L_LADDER}:</td>
		<td class="row1">
			<select name="ladder_id" id="ladder_id">
				<option name="ladder_id" value="0">----------------------------</option>
				<!-- BEGIN block_ladders -->
				<optgroup label="{block_ladders.LADDER_NAME} ({block_ladders.PLATFORM})"></optgroup>
				<!-- BEGIN block_subladders -->
				<option name="ladder_id" value="{block_ladders.block_subladders.LADDER_ID}">-- {block_ladders.block_subladders.LADDER_NAME}</option>
				<!-- END block_subladders -->
				<!-- END block_ladders -->
			</select>

			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		</td>
 	</tr>
</table>
<br />
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th width="20%">{L_LADDER_GROUP_NAME}</th>
		<th width="20%">{L_GROUP_MEMBERS}</th>
	</tr>
	<!-- BEGIN block_groups -->
	<tr class="genmed">
		<td class="{block_groups.ROW_COLOR}"><a href="{block_groups.U_ACTION}">{block_groups.GROUP_NAME}</a> <!-- BEGIN block_challenge -->[<a href="{block_groups.block_challenge.U_CHALLENGE}">{L_CHALLENGE}</a>]<!-- END block_challenge --></td>
		<td class="{block_groups.ROW_COLOR}" align="center">{block_groups.GROUP_MEMBERS}</td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="genmed">
		<td class="row1" colspan="3">{L_NO_GROUPS_FOUND}</td>
	</tr>
	<!-- END block_groups -->
	<tr>
		<td class="cat" colspan="8">&nbsp;</td>
	</tr>
</table>
<br />
<form action="{U_ACTION}" method="post">
<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">{L_LADDER}:</td>
		<td class="row1">
			<select name="ladder_id" id="ladder_id">
				<option name="ladder_id" value="0">----------------------------</option>
				<!-- BEGIN block_ladders -->
				<optgroup label="{block_ladders.LADDER_NAME} ({block_ladders.PLATFORM})"></optgroup>
				<!-- BEGIN block_subladders -->
				<option name="ladder_id" value="{block_ladders.block_subladders.LADDER_ID}">-- {block_ladders.block_subladders.LADDER_NAME}</option>
				<!-- END block_subladders -->
				<!-- END block_ladders -->
			</select>

			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
		</td>
 	</tr>
</table>
<br />
<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">
			<p class="breadcrumbs">{PAGE_NUMBER}</p>
			<p class="datetime">{PAGINATION}</p>
			<br />
			<p>	
				<!-- BEGIN block_alphas -->
					<a href="{block_alphas.U_ALPHA}">{block_alphas.ALPHA}</a> 
				<!-- END block_alphas -->
			</p>
		</td>
	</tr>
</table>
<br />
<!-- INCLUDE overall_footer.html -->
