<!-- INCLUDE ucp_header.html -->
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th>{L_WELCOME_CCP}</th>
	</tr>
	<tr>
		<td class="row1"><p class="genmed">{L_WELCOMETXT}</p></td>
	</tr>
	<tr>
		<th>{L_STATISTICS}</th>
	</tr>
	<tr>
		<td class="row1">
			<table width="100%" cellspacing="1" cellpadding="4">
				<tr>
					<td align="right" valign="top" nowrap="nowrap"><b class="genmed">{L_PENDING_MATCHES}</b>: </td>

					<td width="100%"><b class="gen">{CHALLENGES}</b></td>
				</tr>
				<tr>
					<td align="right" valign="top" nowrap="nowrap"><b class="genmed">{L_ONGOING_MATCHES}</b>: </td>

					<td width="100%"><b class="gen">{ONGOING_MATCHES}</b></td>
				</tr>
				<tr>
					<td align="right" valign="top" nowrap="nowrap"><b class="genmed">{L_FINISHED_MATCHES}</b>: </td>

					<td width="100%"><b class="gen">{FINISHED_MATCHES}</b></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th>{L_YOUR_OTHER_GROUPS}</th>
	</tr>
	<!-- BEGIN block_switch -->
	<tr class="genmed">
		<td class="row1">
			<a href="{block_switch.U_ACTION}" class="forumlink"><b>{block_switch.GROUP_NAME}</b></a>
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="genmed">
		<td class="row1">{L_NO_OTHER_GROUPS}</td>
	</tr>
	<!-- END block_switch -->
	<tr>
		<td class="cat">&nbsp;</td>
	</tr>
</table>
<!-- INCLUDE ucp_footer.html -->
