<!-- INCLUDE ucp_header.html -->
<table class="tablebg" width="100%" cellspacing="1">
	<form action="{U_ACTION}" method="post">
	<tr>
		<th colspan="2">{L_PENDING_MEMBERS}</th>
	</tr>
	<tr class="genmed">
		<td class="row3" align="center">{L_USERNAME}</td>
		<td class="row3" align="center">{L_OPTIONS}</td>
	</tr>
	<!-- BEGIN block_pendingmembers -->
	<tr class="genmed">
		<td class="{block_pendingmembers.ROW_COLOR}" valign="top">
			<span class="topictitle"><a href="{block_members.U_PROFILE}">{block_members.MEMBER_NAME}</a></span>
		</td>
		<td class="{block_pendingmembers.ROW_COLOR}">
			<input type="hidden" name="member_id[]" value="{block_pendingmembers.MEMBER_ID}" /><input type="checkbox" name="pending_members[]" value="1" /> <b>{L_ACCEPT}</b> | <input type="checkbox" name="pending_members[]" value="2" /> <b>{L_DECLINE}</b>
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr class="genmed">
		<td colspan="2" class="row2">{L_NO_PENDING_MEMBERS}</td>
	</tr>
	<!-- END block_pendingmembers -->
	<tr>
		<td class="cat" align="center" colspan="2">
			<!-- IF .block_pendingmembers -->
			<input type="submit" name="submit" value="{L_SUBMIT}" class="btnmain" />
			<!-- ENDIF -->
		</td>
	</tr>
	</form>
</table>
<!-- INCLUDE ucp_footer.html -->
