/* ZeroZaku Button Styles
---------------------------------------- */
.button1, .button2 { text-decoration: none; }
/* Rollover buttons
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
----------------------------------------*/
.buttons {
	float: left;
	width: auto;
	height: auto;
}

/* Rollover state */
.buttons div {
	float: left;
	margin: 0 5px 0 0;
	background-position: 0 100%;
}

/* Rolloff state */
.buttons div a {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
/*.buttons div span { display: none; }
*/
/*.buttons div a:hover { background-image: none; }
*/
.buttons div span {
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 100%;
}

.buttons div a:hover span { background-position: 0 100%; }
/* Big button images */
.reply-icon span { background: transparent none 0 0 no-repeat; }
.post-icon span { background: transparent none 0 0 no-repeat; }
.locked-icon span { background: transparent none 0 0 no-repeat; }
.pmreply-icon span { background: none 0 0 no-repeat; }
.newpm-icon span { background: none 0 0 no-repeat; }
.forwardpm-icon span { background: none 0 0 no-repeat; }
.mark-read img {
	float: left;
	width: 18px;
	height: 12px;
	margin: 2px 0.5em 0 0;
}

/* Set big button dimensions */
.buttons div.reply-icon {
	width: {IMG_BUTTON_TOPIC_REPLY_WIDTH}px;
	height: {IMG_BUTTON_TOPIC_REPLY_HEIGHT}px;
}

.buttons div.post-icon {
	width: {IMG_BUTTON_TOPIC_NEW_WIDTH}px;
	height: {IMG_BUTTON_TOPIC_NEW_HEIGHT}px;
}

.buttons div.locked-icon {
	width: {IMG_BUTTON_TOPIC_LOCKED_WIDTH}px;
	height: {IMG_BUTTON_TOPIC_LOCKED_HEIGHT}px;
}

.buttons div.pmreply-icon {
	width: {IMG_BUTTON_PM_REPLY_WIDTH}px;
	height: {IMG_BUTTON_PM_REPLY_HEIGHT}px;
}

.buttons div.newpm-icon {
	width: {IMG_BUTTON_PM_NEW_WIDTH}px;
	height: {IMG_BUTTON_PM_NEW_HEIGHT}px;
}

.buttons div.forwardpm-icon {
	width: {IMG_BUTTON_PM_FORWARD_WIDTH}px;
	height: {IMG_BUTTON_PM_FORWARD_HEIGHT}px;
}

/* Sub-header (navigation bar)
--------------------------------------------- */
a.print, a.sendemail, a.fontsize {
	display: block;
	height: 18px;
	text-align: left;
}

/* BBCode Buttons
--------------------------------------------- */
#format-buttons input, #mChatBBCodes input {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
	margin: 0 -3px 1em 0;
}

#format-buttons select, #mChatBBCodes select {
	height: 25px;
	margin-right: -4px;
}

#format-buttons input:first-child, #mChatBBCodes input:first-child {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#format-buttons input:last-child, #mChatBBCodes input:last-child {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-khtml-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

#format-buttons input[type=image] { height: 15px; }
/* Poster profile icons
----------------------------------------*/
ul.profile-icons {
	clear: both;
	overflow: hidden;
	margin: 0 -15px;
	padding: 4px 15px;
	list-style: none;
}

/* Rollover state */
ul.profile-icons li {
	float: right;
	font-size: 0.9166em;
}

/* Rolloff state */
ul.profile-icons li a {
	display: block;
	height: 20px;
	margin-left: 8px;
	padding: 0 8px;
	line-height: 20px;
	text-decoration: none;
}

/* Positioning of moderator icons */
.postbody ul.profile-icons {
	width: auto;
	margin: 0;
}

.postbody ul.profile-icons li { margin: 0 3px; }
/* Fix profile icon default margins */
ul.profile-icons li.edit-icon { }
ul.profile-icons li.quote-icon { }
ul.profile-icons li.info-icon, ul.profile-icons li.report-icon { }

