/* General proSilver Markup Styles
---------------------------------------- */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

body {
	font: 12px/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 0 0 180px 0;
	background-color: #FFFFFF;
}

#simple-wrap {
	padding: 51px 0 0 20px;
}

hr {
	border-style: solid none none;
	border-width: 1px 0 0;
	margin: 0.5em 0;
	clear: both;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: none; }

.inner { clear: both; }

/* Main blocks
---------------------------------------- */
#page-header {
	margin-bottom: 10px;
	height: 84px;
	width: 100%;
}

#page-header .inner {
	margin: 0 auto;
	width: 960px;
}

#wrap {
	margin: 0 auto;
	width: 960px;
}

#page-body {
	text-align: left;
	float: left;
	min-width: 720px;
	width: 75%
}

#page-sidebar {
	text-align: left;
	float: right;
	min-width: 230px;
	width: 23.9583%;
}

#page-footer {
	width: 960px;
	clear: both;
}

/* Quickpanel block
--------------------------------------------- */
#news {
	border-style: solid;
	border-width: 1px 0;
	width: 100%;
	position: relative;
	top: -10px;
}

#news .inner {
	margin: 10px auto;
	width: 960px;
	overflow: hidden;
}

#quickpanel {
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 100%;
	padding: 20px 0;
	position: relative;
	top: -10px;
	overflow: hidden;
}

#quickpanel .inner {
	text-align: left;
	margin: 0 auto;
	width: 960px;
}

#quickpanel #blurb {
	float: right;
	width: 360px;
	padding-left: 30px;
	margin: 20px 0;
}

	#blurb h1 {
		font: 2.5em Anivers-Regular;		
		line-height: 1em;
	}
	
	#blurb p {
		font-size: 2.5em;
		line-height: 1em;
	}

#quickpanel #quicklogin {
	border-left: 1px solid;
	border-right: 1px solid;
	width: 240px;
	padding: 0 30px;
	float: right;
}

#quickregister { width: 240px; }

#quickpanel h2 { 
	font: bold 1.3333em Arial, Helvetica, sans-serif; 
	margin-bottom: 1em;
}

/* User Menu box
--------------------------------------------- */
#usernav-box {
	line-height: 1.5em;
	float: right;
	height: inherit;
	max-width: 420px;
	width: auto;
	white-space: nowrap; /* For Opera */
	z-index: 9999;
}

#usernav-box a {
	text-decoration: none;
}

/* Account actions box
--------------------------------------------- */
#account-actions {
	text-align: right;
	clear: both;
}

#account-actions li {
	margin-left: 10px;
}

#account-actions li {
	line-height: 25px;
	word-spacing: 10px;
	list-style-type: none;
	display: inline;
	float: left;
}

#account-actions li a {
	word-spacing: normal;
}

/* Search box
--------------------------------------------- */
#search-box {
	text-align: left;
	white-space: nowrap; /* For Opera */
	position: relative;
	margin-bottom: 10px;
	padding: 6px 5%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#search-box fieldset {
	border: none;
}

#search-box li {
	text-align: right;
}

#search-box #keywords {
	border: 0;
	height: 15px;
	width: 132px;
	padding: 6px 8px 4px 26px;
}

#search-box .button1 {
	min-width: 35px;
}

/* .button1 style defined later, just a few tweaks for the search button version */
#search-box input.button2 {}

#search-box img {
	vertical-align: middle;
	margin-right: 3px;
}

/* Site description and logo */
#site-description {
	float: left;
	width: 27%;
}

#logo {
	float: left;
	padding: 15px 1%;
}

#site-description h1 {
	margin-right: 0;
}

/* Breadcrumbs box
--------------------------------------------- */
.breadcrumbs {
	line-height: 26px !important;
	height: 26px !important;
	width: 100% !important;
	padding: 2px 0 !important;
}

.breadcrumbs .inner {
	margin: 0 auto !important;
	padding: 0 20px !important;
	width: 960px !important;
}

.breadcrumbs strong {
	font-size: 1.1666em !important;
}

.breadcrumbs.simple {
	text-align: left !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
}

.breadcrumbs.simple .navlinks {
	padding: 0 20px !important;
}

/* Navbar
--------------------------------------------- */
.navbar {
	position: relative;
	float: right;
	height: 84px;
	overflow: hidden;
}

.navbar li {
	float: left;
	list-style-type: none;
	height: 100%;
}

.navbar li a {
	border-left: 1px solid;
	border-right: 1px solid;
	font-size: 1.1666em;
	font-weight: bold;
	line-height: 1.4em;
	text-decoration: none;
	display: block;
	height: 84px;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.navbar li a span {
	font-size: 0.6428em;
	line-height: 1.3em;
	text-transform: uppercase;
	display: block;
	width: 100px;
}

/* Footer
---------------------------------------- */
#page-footer h3 {
	margin-top: 20px;
}

#board-statistics {
	border: 1px solid;
	margin: 0 0 1.0417% 0;
	padding: 1.9812%;
	clear: both;
	overflow: hidden;
}

	#board-statistics p {
		border-bottom: 1px solid;
		padding-bottom: 10px;
		width: 75%;
	}

	#board-statistics .stats {
		border-left: 1px solid;
		float: right;
		padding-left: 0.9783%;
		width: 22.8261%;
	}
	
	#board-statistics .stats dl {
		margin: 4px 0 10px;
	}
	
	#board-statistics .stats dt {
		text-align: left;
		float: right;
		padding: 0.25em;
		width: 33.3333%;
	}
	
	#board-statistics .stats dd {
		font-weight: bold;
		border-top: 1px solid;
		padding: 0.25em;
	}

#footer-utilities {
	padding: 10px 20px;
	clear: both;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#footer-utilities ul.linklist {margin: 0;}

/* Authentication
---------------------------------------- */
.login-box {
	text-align: left;
	border-left: 1px solid;
	float: right;
	padding-left: 40px;
	width: 389px;
}

.signup {
	text-align: left;
}

.signup ul {
	margin: 1em 0 0 20px;
}

/* Sidebar
 * ---------------------------------------- */
#page-sidebar ul {
	margin-bottom: 10px;
}

.leaderboard h2, #user_statuses h2 {
	font-size: 1.6667em;	
	margin-bottom: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #E0E0E0;
}

.leaderboard li {
	border-width: 0 1px 1px 0;
	border-style: solid;
	list-style: none;
	margin-bottom: 6px;
	padding: 6px 10px;
	display: block;
	overflow: hidden;
}

.leaderboard li span, .rec_friend li .username, .rec_friend li .username-coloured {
	float: right;
}

.leaderboard li img {
	float: left;
	margin-right: 10px;
}

.rec_friend li {
	border: 0;
	padding: 0;
}

.rec_friend li .inner {
	border-width: 0 1px 1px 0;
	border-style: solid;
	padding: 6px 10px;
	display: inline-block;
	width: auto;
	word-wrap: break-word;
}

#user_statuses li { list-style: none; }

#user_statuses li .inner {
	font-size: 0.9167em;
	border-width: 0 1px 1px 0;
	border-style: solid;
	margin-bottom: 6px;
	padding: 6px 10px;
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	word-wrap: break-word;
}

#user_statuses li span { font-size: 1.0909em; }

/* Message box
 * ---------------------------------------- */
textarea#message {
	font-family: Verdana, "Verdana Ref", Geneva, Helvetica, Arial, sans-serif;
}
#message, #confirm {text-align: center;}
#message .inner, #confirm .inner {padding: 20px 0;}

#message p.message, #confirm p.message {
	font-size: 1.166em;
	margin-bottom: 0.5em;
}

#message p.message a #confirm p.message a {
	font-size: 0.8571em;
	font-weight: bold;
}

#message p.link, #confirm p.link {
	color: #D31141;
	font-size: 1.166em;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */

.forabg li.header, .forumbg li.header {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.forum-image {
	float: left;
	padding-top: 5px;
	margin-right: 5px;
}

.forabg {
	margin-bottom: 10px;
	clear: both;
}

.forabg-sidebar {
	clear: both;
}

.forumbg {
	margin-bottom: 10px;
	clear: both;
}

.panel {
	border: 1px solid;
	margin-bottom: 10px;
	padding: 0 20px;
	overflow: hidden;
}

.panel.smooth {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.post {
	margin-bottom: 1px;
	padding: 0 10px;
	overflow: hidden;
}

.search.post {
	margin-bottom: 10px;
}

.rowbg {
	margin: 5px 5px 2px 5px;
}

/* Horizontal lists
----------------------------------------*/
ul.linklist {
	display: block;
	margin: 0;
	margin: 10px 0;
	height: auto;
}

ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 5px;
}

ul.linklist li a {
	text-decoration: none;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.linklist li.moderators {
	line-height: 30px;
}

ul.linklist li.button {
	height: 24px;
}

ul.navlinks {
	padding-bottom: 1px;
	margin-bottom: 1px;
	font-weight: bold;
}

ul.navlinks li {
	float: left;
	list-style-type: none;
}

.leftside {
	float: left;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

/* Table styles
----------------------------------------*/
#ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-size: 0.9166em;
	font-weight: bold;
	line-height: 1.3em;
	padding: 6px 10px;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody td {
	padding: 0.5em;
}

table.table1 tbody th {
	padding: 0.5em;
	text-align: left;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .posts		{ text-align: center !important; width: 7%; }
table.table1 .joined	{ text-align: left; width: 15%; }
table.table1 .active	{ text-align: left; width: 15%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; }
table.table1 .info div	{ width: 100%; white-space: normal; overflow: hidden; }
table.table1 .autocol	{ white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }

table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td {
	padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts 
   Also see tweaks.css */
.column1 {
	float: left;
	clear: left;
	width: 49%;
}

.column2 {
	float: right;
	clear: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
}

.right-box {
	float: right;
	width: auto;
	text-align: right;
}

dl.details {
	margin-top: 10px;
}

dl.details dt {
	font-weight: bold;
	float: left;
	width: 30%;
	text-align: left;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 2%;
	margin-bottom: 4px;
	float: left;
	width: 68%;
}

/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	float: right;
}

li.pagination {
	margin: 2px 0;
	padding: 1px 0;
}

.pagination strong, .pagination b {
	font-weight: bold;
}

.pagination span strong {
	border: 1px solid;
	margin: 0 2px;
	padding: 2px 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	border: 1px solid;
	text-decoration: none;
	margin: 0 2px;
	padding: 2px 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.pagination span a:hover {
	border: 1px solid;	
	margin: 0 2px;
	-moz-box-shadow: 0 0 3px #606060;
	-webkit-box-shadow: 0 0 3px #606060;
	-khtml-box-shadow: 0 0 3px #606060;
	box-shadow: 0 0 3px #606060;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 7px 2% 7px 1em;
}

.row .pagination span a:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-khtml-box-shadow: none;
	box-shadow: none;
}

/* Miscellaneous styles
---------------------------------------- */
.username, .username-coloured { font-weight: bold; }

#forum-permissions {
	float: right;
	width: auto;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 10px;
	text-align: right;
}

.copyright {
	float: left;
	padding: 10px 10px 0 40px;
	text-align: left;
}

.util_links {
	float: right;
	padding: 10px 20px 0 0;
	text-align: right;
}

.titlespace {margin-bottom: 15px;}
.headerspace {margin: 10px 0;}

div.rules {
	padding: 0 10px;
	margin: 10px 0;
}

div.rules ul, div.rules ol {margin-left: 20px;}
p.rules {padding: 5px;}
p.rules img {vertical-align: middle; padding-top: 5px;}

p.rules a {
	vertical-align: middle;
	clear: both;
}

.error {
	border: 1px solid;
	display: inline-block;
	padding: 0.5em 6px;
	width: auto;
	clear: both;
}

p {margin: 10px 0;}
.center {text-align: center;}

em {font-family: "Lucida Sans", Verdana, Geneva, Arial, Helvetica, sans-serif; }

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}

.hide {display: none;}
.show {display: block;}
