/* Main CP box
----------------------------------------*/
#cp-menu {
	float:left;
	width: 15%;
	margin: 0 30px 5px 0;
	padding-bottom: 10px;
}

#cp-main {
	float: left;
	width: 80%;
	padding-bottom: 10px;
}

#cp-main .content { padding: 0; }
#cp-main .meta dt, #cp-main .meta dd { padding: 4px 0; }
#cp-main .meta dt { padding: 4px 0 4px 45px; }
#cp-main .meta dt.no-icon { padding: 4px 0; }
#cp-main .panel ol { margin-left: 2em; }
ul.cplist { margin-bottom: 10px; }

#cp-main .panel {
    width: 100%;
    margin-bottom: 15px;
	padding: 15px;
}

#cp-main table.table1 {
	margin-bottom: 10px;
}

#cp-main table.table1 thead th {
	padding: 5px;
    font-weight: bold;
	text-align: left;
}

#cp-main .pagination {
	float: right;
	width: auto;
	padding-top: 1px;
    list-style-type: none;
}

#cp-main .postbody p {
	font-size: 1.1em;
}

#cp-main .pm-message {
	float: none;
    width: auto;
	margin: 10px 0;
}

.pm-panel-message h2 {
	padding-bottom: 5px;
}

.pm-panel-message .postbody {
    width: 515px;
}

#cp-main .postbody h3, #cp-main .box2 h3 {
	margin-top: 0;
}

#cp-main hr, #cp-menu hr {
	border: 1px solid;
}

#cp-main .buttons {
	margin-left: 0;
	padding: 6px 0;
}

#cp-main ul.linklist {
}

/* MCP Specific tweaks */
.mcp-main .postbody {
	width: 100%;
}

/* CP tabbed menu
----------------------------------------*/
#tabs {
	margin: 20px 0 -1px 0;
	min-width: 570px;
}

#tabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#tabs li {
	display: inline;
	margin: 0;
	padding: 0;
}

#tabs a {
	float: left;
    position: relative;
	bottom: -4px;
	margin: 0  2px 0 0;
	padding: 6px 10px;
    font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

#tabs a span {
    display: block;
	float: left;
	white-space: nowrap;
}

#tabs .activetab a {
	position: relative;
	bottom: 0;
	padding: 10px 10px 6px;
    border-style: solid;
	border-width: 1px 1px 0 1px;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs {
	margin: -20px 7px 0 0;
    line-height: normal;
}

#minitabs ul {
	margin:0;
	padding: 0;
	list-style: none;
}

#minitabs li {
	display: block;
	float: right;
	padding: 6px 10px;
	margin-left: 2px;
}

#minitabs li a { text-decoration: none; }

/* UCP navigation menu
----------------------------------------*/
/* Container for sub-navigation list */
#navigation {
    width: 100%;
	margin-top: 40px;
	padding: 0;
}

#navigation ul {
	list-style: none;
}

/* Default list state */
#navigation li {
    display: inline;
	margin: 1px 0;
	padding: 0;
}

/* Link styles for the sub-section links */
#navigation a {
	display: block;
	padding: 10px 15px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
    font-weight: bold;
}

#navigation li:first-child a
{
	border-width: 1px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#navigation li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#navigation a:hover {
	text-decoration: none;
}


#navigation #active-subsection a {
	display: block;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	padding: 0;
    font-size: 1.5em;
	text-transform: uppercase;
}

/* Friends list */
.cp-mini {
	padding: 0 5px;
	margin: 1em 0;
}

.cp-mini span.corners-top, .cp-mini span.corners-bottom {
	margin: 0 -5px;
}

dl.mini dt {
	font-size: 1.1666em;
	font-weight: bold;
	text-transform: uppercase;
}

dl.mini dd {
	padding: 2px 0;
    border-bottom: 1px solid;
}

/* PM Styles
----------------------------------------*/
#pm-menu {
	line-height: 2.5em;
}

/* PM panel adjustments */
.pm-panel-header {
	margin: 0; 
	padding-bottom: 10px; 
}

.reply-all {
	display: block;
    float: left;
    clear: both;
	padding-top: 4px; 
}

.pm-panel-message {
	padding-top: 10px;
}

.pm-return-to {
	padding-top: 23px;
}

#cp-main .pm-message-nav {
	margin: 0; 
	padding: 2px 10px 5px 10px; 
}


/* Defined rules list for PM options */
ol.def-rules {
	padding-left: 0;
}

ol.def-rules li {
	padding: 1px;
}

.pm-legend {
	margin-bottom: 3px;
	padding-left: 3px;
}

/* Avatar gallery */
#gallery label {
    float: left;
	position: relative;
    width: auto;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

ul {
	padding: auto !important;
}