/* ZeroZaku Form Styles
---------------------------------------- */

/* General form styles
----------------------------------------*/
fieldset { border: none; }
input {
	padding: 2px 5px;
	border: 1px solid;
	vertical-align: middle;
}

input[type=radio], input[type=checkbox] { border: none; }
select {
	padding: 1px;
	vertical-align: top;
}

option { padding-right: 1em; }
textarea {
	width: 60%;
	padding: 2px;
	border: 1px solid;
	text-align: left;
}

label {
	cursor: default;
	padding-right: 6px;
	line-height: 2em;
}

label input {
	border: 1px solid;
	vertical-align: middle;
}

label img { vertical-align: middle; }
/* Definition list layout for forms
---------------------------------------- */
fieldset dl { padding: 6px 0; }
fieldset dt {
	display: block;
	float: left;
	width: 15em;
	text-align: right;
}

fieldset dd {
	margin-bottom: 3px;
	margin-left: 16em;
	vertical-align: middle;
}

fieldset dd span { font-size: 0.9166em; }

/* Specific layout 1 */
fieldset.fields1 dt { width: 12em; }
fieldset.fields1 dd { margin-left: 12em; }
fieldset.fields1 div { margin-bottom: 3px; }

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */
fieldset.fields1 #recaptcha_widget_div div { margin-bottom: 0; }

/* Specific layout 2 */
fieldset.fields2 dt { width: 15em; }
fieldset.fields2 dd { margin-left: 16em; }

/* Form elements */
dt label {
	font-weight: bold;
	text-align: left;
}

dd label { white-space: nowrap; }
dd input, dd textarea { margin-right: 3px; }
dd select { width: auto; }
dd textarea {
	width: 85%;
	font: 12px Verdana, Helvetica, Arial, sans-serif;
}

#timezone { width: 95%; }
* html #timezone { width: 50%; }
/* Quick-login on index page */
fieldset.quick-login {
	float: right;
	width: auto;
	text-align: left;
}

fieldset.quick-login input.inputbox {
	width: 140px;
	margin-right: 5px;
	vertical-align: middle;
}

fieldset.quick-login label {
	padding-right: 2px;
	white-space: nowrap;
}

fieldset.quick-login .autologin {
	clear: both;
	padding-top: 10px;
	text-align: left;
}

fieldset.quick-login dl {
	margin: 6px 0;
	padding: 0;
}

fieldset.quick-login dt { width: 6em; }
fieldset.quick-login dd { margin-left: 7em; }
/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0 10px 0;
	padding: 6px 10px;
	text-align: center;
}

fieldset.display-options label {
	padding-right: 2px;
	white-space: nowrap;
}

fieldset.display-options a {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 3px 0.4em;
	border: 1px solid;
}

fieldset.display-options a.left, fieldset.display-options a.right { border: none; }
fieldset.display-options a.left { padding-left: 30px; }
fieldset.display-options a.right { padding-right: 30px; }
/* Display actions for ucp and mcp pages */
fieldset.display-actions {
	margin: 1em 0;
	padding-right: 1em;
	line-height: 2em;
	text-align: right;
	white-space: nowrap;
}

fieldset.display-actions label {
	padding-right: 2px;
	white-space: nowrap;
}

fieldset.sort-options { line-height: 2em; }
/* MCP forum selection*/
fieldset.forum-selection {
	float: right;
	margin: 5px 0 3px 0;
}

fieldset.forum-selection2 {
	float: right;
	margin: 13px 0 3px 0;
}

/* Jumpbox */
fieldset.jumpbox {
	height: 2.5em;
	margin-top: 15px;
	text-align: right;
}

fieldset.quickmod {
	float: right;
	width: 50%;
	height: 2.5em;
	text-align: right;
}

/* Submit button fieldset */
fieldset.submit-buttons, .submit-button {
	margin: 5px 0;
	text-align: center;
	vertical-align: middle;
}

fieldset.submit-buttons input {
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
}

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */
#format-buttons { margin: 10px 0 2px 0; }
#format-buttons input, #format-buttons select { vertical-align: top; }
/* PM Message box */
.ucp-main #message-box textarea { }
.ucp-main #smiley-box { }
/* Main message box */
#message-box { width: 700px; }
#message-box textarea {
	width: 100%;
	font-size: 1em;
	text-align: left;
}

/* Emoticons panel */
#smiley-box {
	float: right;
	width: 200px;
}

#smiley-box img { margin: 3px; }
/* Input field styles
---------------------------------------- */
.inputbox {
	cursor: text;
	padding: 3px;
	font-family: Verdana, "Verdana Ref", Geneva, Helvetica, Arial, sans-serif;
	font-size: 1em;
}

.inputbox:focus { outline: 1px solid; }
input.inputbox { width: 85%; }
input.medium { width: 50%; }
input.narrow { width: 25%; }
input.tiny { width: 125px; }
textarea.inputbox { width: 85%; }
.autowidth { width: auto !important; }
/* Form button styles
---------------------------------------- */

a.button1, a.button2, input.button1, input.button2, input.button3 {
	text-shadow: 1px 1px 0 #FFFFFF;
	width: auto !important;
	max-height: 25px;
	border: 1px solid;
	font-size: 0.9166em;
	font-weight: bold;
	text-decoration: none !important;
	vertical-align: middle;
}

input.button1 { text-shadow: 1px 1px 0 #000000; }
input.button2 { padding: 4px !important; }
input.button3 {
	height: 12px;
	margin: 0;
	padding: 0;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	display: inline-block;
	margin: 2px;
	padding: 3px 0.75em !important;
}

a.button1:hover, a.button2:hover, input.button1:hover, input.button2:hover {
	-moz-box-shadow: 0 0 3px #606060;
	-webkit-box-shadow: 0 0 3px #606060;
	-khtml-box-shadow: 0 0 3px #606060;
	box-shadow: 0 0 3px #606060;
	z-index: 100;
}

/* Topic and forum Search */
.search-box {
	float: left;
	margin-left: 5px;
}

input.search {
	width: 132px;
	height: 15px;
	padding: 6px 8px 4px 26px;
	border: 0;
}

input#add_keywords {
	width: 132px;
	height: 15px;
	padding: 6px 8px 4px 26px;
	border: 0;
	background: transparent url("{T_THEME_PATH}/images/search_bg.png") no-repeat;
}

input.active#add_keywords { background-position-y: 25px; }
.full { width: 95%; }
.medium { width: 50%; }
.narrow { width: 25%; }
.tiny { width: 10%; }

