/* proSilver Form Styles
---------------------------------------- */

/* General form styles
----------------------------------------*/
fieldset {
	border: none;
}

input {
	padding: 2px 5px;
    border: 1px solid;
    vertical-align: middle;
}

input[type=radio], input[type=checkbox] {
	border: none;
}

select {
	padding: 1px;
    vertical-align: top;
}

option {
	padding-right: 1em;
}

textarea {
	width: 60%;
	padding: 2px;
    border: 1px solid;
	text-align: left;
}

label {
	padding-right: 6px;
	line-height: 2em;
	cursor: default;
}

label input {
	border: 1px solid;
	vertical-align: middle;
}

label img {
	vertical-align: middle;
}

/* Definition list layout for forms
---------------------------------------- */
fieldset dl {
	padding: 6px 0;
}

fieldset dt {
    display: block;
	float: left;
	width: 15em;
	text-align: right;
}

fieldset dd {
	margin-left: 16em;
	vertical-align: top;
	margin-bottom: 3px;
}

fieldset dd span {
	font-size: 0.9166em;
}

/* Specific layout 1 */
fieldset.fields1 dt {
	width: 12em;
}

fieldset.fields1 dd {
	margin-left: 12em;
}

fieldset.fields1 div {
	margin-bottom: 3px;
}

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */
fieldset.fields1 #recaptcha_widget_div div {
   margin-bottom: 0;
}

/* Specific layout 2 */
fieldset.fields2 dt {
	width: 15em;
}

fieldset.fields2 dd {
	margin-left: 16em;
}

/* Form elements */
dt label {
	font-weight: bold;
	text-align: left;
}

dd label {
	white-space: nowrap;
}

dd input, dd textarea {
	margin-right: 3px;
}

dd select {
	width: auto;
}

dd textarea {
	font: 12px Verdana, Helvetica, Arial, sans-serif;
	width: 85%;
}

#timezone {
	width: 95%;
}

* html #timezone {
	width: 50%;
}

/* Quick-login on index page */
fieldset.quick-login {
	text-align: left;
	float: right;
	width: auto;
}

fieldset.quick-login input.inputbox {
	width: 140px;
	vertical-align: middle;
	margin-right: 5px;
}

fieldset.quick-login label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.quick-login .autologin {
	text-align: left;
	padding-top: 10px;
	clear: both;
}

fieldset.quick-login dl { margin: 6px 0; padding: 0; }
fieldset.quick-login dt { width: 6em; }
fieldset.quick-login dd { margin-left: 7em; }

/* Display options on viewtopic/viewforum pages  */
fieldset.display-options {
	text-align: center;
	margin: 10px 0 10px 0;
	padding: 6px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

fieldset.display-options label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.display-options a {
	border: 1px solid;
	padding: 3px 0.4em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

fieldset.display-options a.left, fieldset.display-options a.right { border: none; }
fieldset.display-options a.left { padding-left: 30px; }
fieldset.display-options a.right { padding-right: 30px; }

/* Display actions for ucp and mcp pages */
fieldset.display-actions {
	line-height: 2em;
	text-align: right;
	white-space: nowrap;
	padding-right: 1em;
	margin: 1em 0;
}

fieldset.display-actions label {
	white-space: nowrap;
	padding-right: 2px;
}

fieldset.sort-options {
	line-height: 2em;
}

/* MCP forum selection*/
fieldset.forum-selection {
	margin: 5px 0 3px 0;
	float: right;
}

fieldset.forum-selection2 {
	margin: 13px 0 3px 0;
	float: right;
}

/* Jumpbox */
fieldset.jumpbox {
	text-align: right;
	margin-top: 15px;
	height: 2.5em;
}

fieldset.quickmod {
	width: 50%;
	float: right;
	text-align: right;
	height: 2.5em;
}

/* Submit button fieldset */
fieldset.submit-buttons, .submit-button {
	text-align: center;
	vertical-align: middle;
	margin: 5px 0;
}

fieldset.submit-buttons input {
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */
#format-buttons {
	margin: 10px 0 2px 0;
}

#format-buttons input, #format-buttons select {
	vertical-align: top;
}


/* PM Message box */
.ucp-main #message-box textarea { width: 80% }
.ucp-main #smiley-box { width: 19% }

/* Main message box */
#message-box { width: 700px; }

#message-box textarea {
	font-size: 1em;
	text-align: left;
	width: 100%;
}

/* Emoticons panel */
#smiley-box {
	width: 200px;
	float: right;
}

#smiley-box img {
	margin: 3px;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	font-family: Verdana, "Verdana Ref", Geneva, Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding: 3px;
	cursor: text;
}

.inputbox:focus {
	outline: 1px solid;
}

input.inputbox	{ width: 85%; }
input.medium	{ width: 50%; }
input.narrow	{ width: 25%; }
input.tiny		{ width: 125px; }

textarea.inputbox {
	width: 85%;
}

.autowidth {
	width: auto !important;
}

/* Form button styles
---------------------------------------- */

a.button1, a.button2, input.button1, input.button2, input.button3 {
	font-size: 0.9166em;
	font-weight: bold;
	vertical-align: middle;
	text-decoration: none !important;
	text-shadow: 1px 1px 0 #FFFFFF;
	border: 1px solid;
	max-height: 25px;
	width: auto !important;
}

input.button1 {
	text-shadow: 1px 1px 0 #000000;
}

input.button2 {
	padding: 4px !important;
}

input.button3 {
	padding: 0;
	margin: 0;
	height: 12px;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	display: inline-block;
	margin: 2px;
	padding: 3px 0.75em !important;
}

a.button1:hover, a.button2:hover, input.button1:hover, input.button2:hover {
	-moz-box-shadow: 0 0 3px #606060;
	-webkit-box-shadow: 0 0 3px #606060;
	-khtml-box-shadow: 0 0 3px #606060;
	box-shadow: 0 0 3px #606060;
	z-index: 100;
}

/* Topic and forum Search */
.search-box {
	margin-left: 5px;
	float: left;
}

input.search {
	border: 0;
	height: 15px;
	width: 132px;
	padding: 6px 8px 4px 26px;
}

input#add_keywords {
	background: transparent url("{T_THEME_PATH}/images/search_bg.png") no-repeat;
	border: 0;
	height: 15px;
	width: 132px;
	padding: 6px 8px 4px 26px;
}

input.active#add_keywords {
	background-position-y: 25px;
}

.full { width: 95%; }
.medium { width: 50%;}
.narrow { width: 25%;}
.tiny { width: 10%;}

