/* CSS for the Knowledge Base */
#a { margin-bottom: 15px; }
h2.article_header {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0;
	padding: 0.5em 10px;
	font-size: 1em;
	font-weight: bold;
}

h1.articletitle, h1.kb_requesttitle {
	margin-bottom: 6px;
	font-size: 2.1666em;
}

.articlebody {
	float: left;
	width: 690px;
	margin-bottom: 15px;
}

.article .content {
	overflow: visible;
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 1.0833em;
	line-height: 1.7em;
}

.articlebody .article_meta {
	color: #606060;
	font-size: 0.9166em;
}

.articlebody .notice {
	margin-bottom: 6px;
	color: #999999;
}

textarea.desc { width: 60%; }
fieldset dt span {
	display: inline-block;
	padding-right: 6px;
}

h2.kb_head.kb_comments, #comments.kb_comments { clear: left; }
h2.kb_head.kb_comments { width: 675px; }
#comments.kb_comments {
	width: 705px;
	margin-bottom: 15px;
}

#kb-message-box { float: left; }
#kb-message-box #message {
	float: left;
	width: 100%;
	text-align: left;
}

/* Rating styles */
.star-rating {
	position: relative;
	width: 150px;
	height: 25px;
	margin-left: 5px!important;
	padding: 0px;
	background: url("{T_THEME_PATH}/images/rate_star.gif") top left repeat-x;
	list-style: none;
}

.star-rating li {
	/*\*/
	float: left;
	margin: 0px;
	padding: 0px;
}

.star-rating li a {
	display: block;
	position: absolute;
	z-index: 20;
	width: 25px;
	height: 25px;
	padding: 0px;
	text-indent: -9000px;
	text-decoration: none;
}

.star-rating li a:hover {
	left: 0px;
	z-index: 2;
	background: url("{T_THEME_PATH}/images/rate_star.gif") left bottom;
}

.star-rating a.one-star { left: 0px; }
.star-rating a.one-star:hover { width: 25px; }
.star-rating a.two-stars { left: 25px; }
.star-rating a.two-stars:hover { width: 50px; }
.star-rating a.three-stars { left: 50px; }
.star-rating a.three-stars:hover { width: 75px; }
.star-rating a.four-stars { left: 75px; }
.star-rating a.four-stars:hover { width: 100px; }
.star-rating a.five-stars { left: 100px; }
.star-rating a.five-stars:hover { width: 125px; }
.star-rating a.six-stars { left: 125px; }
.star-rating a.six-stars:hover { width: 150px; }
.star-rating li.current-rating {
	display: block;
	position: absolute;
	z-index: 1;
	height: 25px;
	background: url("{T_THEME_PATH}/images/rate_star.gif") left center;
	text-indent: -9000px;
}

/**
* Left menu
*/
#kb_search {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	width: 675px;
	margin-bottom: 15px;
	padding: 10px 15px;
	border: 1px solid #E0E0E0;
	background: url("{T_THEME_PATH}/images/header_bg.png") repeat-x scroll 0 0 #EEEEEE;
}

#kb_search #kb_keywords:focus, #kb_search #kb_keywords:active { color: #212121; }
#kb_search #kb_keywords {
	width: 560px;
	padding: 6px 8px 4px 8px;
	border: 3px solid #C9D2D8;
	background: #FFFFFF;
	color: #606060;
	font-size: 1.5em;
}

#kb_search .button1 {
	width: 40px !important;
	height: 30px;
	max-height: 30px;
}

#left_menu #right_menu { vertical-align: top; }
#left_menu { float: left; }
#right_menu { float: right; }
#right_menu .panel { padding: 15px; }
#container { overflow: hidden; }
#container.panel { padding: 15px; }
h2.kb_head {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	clear: both;
	padding: 6px 15px;
	background-color: #212121;
	color: #FFFFFF;
	font: 1.3333em Anivers-Regular;
}

.right_menu_title {
	margin-bottom: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #E0E0E0;
	color: #606060;
	font-size: 1.1667em;
	font-weight: bold;
	letter-spacing: -1px;
}

.cat_menu_title {
	padding: 1px 0 5px 0;
	font-weight: bold;
	text-align: left;
}

h3.kb_cat {
	padding: 20px 0;
	font-size: 1.0833em;
	text-transform: none;
}

h3.kb_cat img { margin-bottom: -2px; }
.kb_cat_desc { padding-right: 10px; }
.kb_catlist li {
	display: inline-block;
	float: left;
}

.kb_catlist li .content {
	padding: 15px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.kb_catlist li h3 a {
	color: #212121;
	font-size: 0.8571em;
}

#kb_side_catlist {
	margin-bottom: 11px;
	border-top: 1px solid #C0C0C0;
}

#kb_side_catlist a { text-decoration: none; }
#kb_side_catlist a span {
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid #C0C0C0;
	background-color: #F6F6F6;
}

#kb_side_catlist a span.subcat {
	padding-left: 30px;
	background-color: #E0E0E0;
}

.kb_subcats { margin-top: 0.5em; }
.kb_subcats strong { color: #000000; }
.kb_articlelist li:last-child { border-bottom: 0; }
.kb_articlelist li {
	padding: 15px 10px 15px 57px;
	border-bottom: 1px solid #E0E0E0;
	background: url("{T_THEME_PATH}/images/doc_lines_straight.png") no-repeat scroll 10px center transparent;
	list-style: none;
	color: #999999;
}

.kb_articlelist li a.articletitle { font-weight: bold; }
.kb_articlelist li p {
	margin: 0;
	color: #444444;
}

#container fieldset.display-options {
	margin: 15px 0;
	background-color: #E0E0E0;
}

#container fieldset.display-options label { color: #606060; }
.kb_latest_articles {
	margin-bottom: 2em;
	font-size: 1em;
}

.kb_latest_articles strong { color: #000000; }
#kb_searchform {
	margin: 5px 0;
	color: #FFFFFF;
	white-space: nowrap;
}

#kb_keywords { background-color: #FFFFFF; }
.article-icon span { background: transparent none 0 0 no-repeat; }
.buttons div.article-icon {
	width: {IMG_BUTTON_ARTICLE_NEW_WIDTH}px;
	height: {IMG_BUTTON_ARTICLE_NEW_HEIGHT}px;
}

.article-icon span { background-image: url("{IMG_BUTTON_ARTICLE_NEW_SRC}"); }
.comment-icon span { background: transparent none 0 0 no-repeat; }
.buttons div.comment-icon {
	width: {IMG_BUTTON_COMMENT_NEW_WIDTH}px;
	height: {IMG_BUTTON_COMMENT_NEW_HEIGHT}px;
}

.comment-icon span { background-image: url("{IMG_BUTTON_COMMENT_NEW_SRC}"); }
.request-icon span { background: transparent none 0 0 no-repeat; }
.buttons div.request-icon {
	width: {IMG_BUTTON_REQUEST_NEW_WIDTH}px;
	height: {IMG_BUTTON_REQUEST_NEW_HEIGHT}px;
}

.request-icon span { background-image: url("{IMG_BUTTON_REQUEST_NEW_SRC}"); }
.icon-kb {
	padding: 1px 0 0 23px;
	background-image: url("{T_THEME_PATH}/images/icon_kb.gif");
	background-repeat: no-repeat;
	background-position: 0 50%;
}


