/* inner corners */

span.portal-corners-top-inner { margin: 0 -5px; }
span.portal-corners-bottom-inner {
	clear: both;
	margin: 0 -5px;
}

span.portal-corners-top-inner, span.portal-corners-bottom-inner {
	display: block;
	height: 5px;
	background-repeat: no-repeat;
	font-size: 1px;
	line-height: 1px;
}

/* main menu, user menu and the links */

.portal-navigation { width: auto; }
.portal-navigation ul {
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	list-style-type: none;
}

.portal-navigation ul li { padding-bottom: 2px; }
.portal-navigation ul li a {
	/*custom bullet list image*/
display: block;
	/*link text is indented 19px*/
font-weight: bold;
	padding: 2px 0;
	padding-left: 19px;
	background-image: url("{T_THEME_PATH}/images/portal/arrowbullet.gif");
	background-repeat: no-repeat;
	background-position: center left;
	font-size: 90%;
}

.portal-navigation div.menutitle {
	padding: 1px 0;
	font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
}


