/* proSilver Style Sheet Tweaks

These style definitions are mainly IE specific 
tweaks required due to its poor CSS support.
-------------------------------------------------*/

* html table, * html select, * html input { font-size: 100%; }
* html hr { margin: 0; }
* html span.corners-top, * html span.corners-bottom { background-image: url("{T_THEME_PATH}/images/corners_left.gif"); }
* html span.corners-top span, * html span.corners-bottom span { background-image: url("{T_THEME_PATH}/images/corners_right.gif"); }

table.table1 {
	width: 99%;		/* IE < 6 browsers */
	/* Tantek hack */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 100%;
}
html>body table.table1 { width: 100%; }	/* Reset 100% for opera */

* html ul.topiclist li { position: relative; }
* html .postbody h3 img { vertical-align: middle; }

/* Form styles */
html>body dd label input { vertical-align: text-bottom; }	/* Align checkboxes/radio buttons nicely */

* html input.button1, * html input.button2 {
	padding-bottom: 0;
	margin-bottom: 1px;
}

/* Misc layout styles */
* html .column1, * html .column2 { width: 45%; }

/* Nice method for clearing floated blocks without having to insert any extra markup (like spacer above)
   From http://www.positioniseverything.net/easyclearing.html 
#tabs:after, #minitabs:after, .post:after, .navbar:after, fieldset dl:after, ul.topiclist dl:after, ul.linklist:after, dl.polls:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}*/

.clearfix, #tabs, #minitabs, fieldset dl, ul.topiclist dl, dl.polls {
	height: 1%;
	overflow: hidden;
}

/* viewtopic fix */
* html .post {
	height: 25%;
	overflow: hidden;
}

/* navbar fix */
* html .clearfix, ul.linklist {
	height: 4%;
	overflow: hidden;
}

/* Simple fix so forum and topic lists always have a min-height set, even in IE6
	From http://www.dustindiaz.com/min-height-fast-hack */
dl.icon {
	min-height: 35px;
	height: auto !important;
	height: 35px;
}

* html #search-box {
	width: 25%;
}

/* Correctly clear floating for details on profile view */
*:first-child+html dl.details dd {
	margin-left: 30%;
	float: none;
}

* html dl.details dd {
	margin-left: 30%;
	float: none;
}

* html .forumbg table.table1 {
	margin: 0 -2px 0px -1px;
}

/* Remove videos from signaturs */
.signature embed {display: none;}
.signature object {display: none;}

/* Recent table */
table#recent {
	margin-bottom: 10px;
}

/* CSS Dropdown
-------------------------------------------------*/
.dropdown {
	letter-spacing: 0;
	text-align: left;
	width: auto;
	margin-left: 10px;
	float: left;
	display: inline-block;
	position: relative;
	z-index: 80;
}

.dropdown:hover {
	z-index: 89;
	box-shadow: 5px 1px 5px #212121;
	-moz-box-shadow: 5px 1px 5px #212121;
	-webkit-box-shadow: 5px 1px 5px #212121;
}

.dropdown span {
	line-height: 21px;
	border: 1px solid;
	display: block;
	height: 21px;
}

span.banned {
	text-decoration: line-through;
}

.dropdown span a {
	padding: 1px 6px;
	display: inline-block;
}

.dropdown span img {
	float: right;
	margin-top: 5px;
	vertical-align: middle;
}

.dropdown ul {
	border: 1px solid;
	font-size: 1em;
	line-height: 20px;
	display: none;
	position: absolute;
	left: 0;
	top: 24px;
	margin: 0 0 10px 0;
	padding: 6px 1.25em 6px 0;
	width: auto;
	z-index: 9999;
}

.dropdown:hover ul {
	display: block;
	box-shadow: 1px 1px 2px #212121;
	-moz-box-shadow: 1px 1px 2px #212121;
	-webkit-box-shadow: 1px 1px 2px #212121;
}

.dropdown ul li {
	line-height: 1.5em !important;
	border: 0;
	margin: 0 !important;
	padding: 0;
	float: none !important;
	display: block;
	overflow: hidden;
}

.dropdown ul li:before {
	content: "" !important;
}

.dropdown ul li a {
	border: 0;
	font-size: 0.9167em;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	display: block;
	padding: 0 1.25em 0 1em;
	width: 100%;
} 

.dropdown ul li a:hover, .dropdown ul li a:active {
	text-decoration: underline !important;
}

/* Dropdowns used by search */
.search .dropdown:hover span img {
	display: none;
}

/* CSS Tabs
-------------------------------------------------*/
.tabs ul li {
	display: inline;;
}

.tabs ul li a {
	text-decoration: none;
	padding: 4px 10px;
	/*
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	*/
	cursor: pointer;
}

/* Hover Buttons
-------------------------------------------------*/
.hb_container {position: relative;}
.hb_container .hb {display: none;}
.hb_container:hover .hb {
	display: block;
	position: absolute;
	right: 6px;
	top: 6px;	
}

	.hb li, .hb a {display: inline;}
	
	.hb img {
		height: auto !important;
		width: auto !important;
		margin: 0 !important;
		float: none !important;
		position: static !important;
		left: 0 !important;
		overflow: auto !important;
	}
	
	.hb li a {
		font-size: 11px !important;
		text-decoration: none;
		margin: 0 !important;
		padding: 4px 6px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
	}
	
	.hb li {
		margin-left: 0.5em;
		list-style-type: none;
	}
	
	.hb li a:link, .hb li a:visited {
		background: #EEEEEE;
		border: 1px solid #D0D0D0; 
		color: #212121;	
	}
	
	.hb li a:hover, .hb li a:active {
		background: #212121;
		border-color: #212121;
		color: #FFFFFF;
	}

/*
	XS Syntax Highlighter CSS
*/
.content .syntax {
	color: #444;
	display: block;
	margin: 5px 1px;
	width: auto;
	border: solid 1px #D0D0D0;
	background-color: #FFF;
	padding: 5px;
	font-size: 0.9em;
	font-family: Courier, 'Courier New', sans-serif;
	line-height: 1.2em;
}
.content .syntax-header {
	margin: 0;
	margin-bottom: 5px;
	padding-left: 3px;
	padding-bottom: 3px;
	border-bottom: solid 1px #E0E0E0;
	font-size: 0.9em;
	line-height: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #808080;
}

.syntax-header a:link,
.syntax-header a:visited
{
	color: #666;
	text-decoration: none;
	border-bottom: dotted 1px #666;
}
.syntax-header a:hover,
.syntax-header a:active
{
	color: #FF1010;
	text-decoration: none;
	border-bottom: dotted 1px #FF1010;
}

.syntax-content { padding: 0; }

.syntax-list {
	margin-top: 3px;
	margin-right: 0;
	margin-bottom: 3px;
}

li.syntax-row { 
	margin-left: 12px;
	white-space: normal; 
	border-top: 1px #E0E0E0 solid;
	color: #BBB;
	wrap-option: emergency;
}
.syntax-row-text {
	color: #444;
}

div.syntax li.syntax-row-highlight {
	color: #FF1010;
	border-color: #D8D8D8;
}

div.syntax li.syntax-row-highlight .syntax-row-text, span.syntax-row-highlight {
	color: #FF1010;
}

li.syntax-row-first {
	border-top: none;
}
/* Mini Table */
.minitable {  
	color: #444;  
	display: block;  
	margin: 5px 20px;  
	border: solid 1px #D0D0D0;  
	background-color: #FFF;  
	font-size: 12px;  
}  
.minitable-header {  
	background: #fff url({T_THEME_PATH}/images/bg_header.gif) top left repeat-x;
	margin: 0;  
	margin-bottom: 5px;  
	padding-left: 5px;  
	padding-top: 7px;
	padding-right: 5px;
	border-bottom: solid 1px #D0D0D0;  
	font-size: 12px;  
	line-height: 1.2em;  
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-weight: bold;
	color: #EDEFF4;
	height: 21px;

}  
.minitable-hideme {  
	font-size: 10px;  
	line-height: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-weight: bold;
	color: #EEE;
	float: right;
}
.minitable-hideme a, .minitable-hideme a:visited {
	color: #eee;
	text-decoration: none;
}
.minitable-hideme a:hover {
	color: #fff;
	text-decoration: none;
}
.minitable-contents {  
	padding-left: 5px;  
	padding-right: 5px;  
	padding-bottom: 5px;  
	line-height: 1.5;
	text-align: left;
}  
/* Hide content */
.hide-contents,
.hide-contents .quote-message {
	color: #757575;
	background-color: #F2F2F2;
	border: 2px dotted #DEDEDE;
	text-align: left;
	padding: 5px;
}


/* ul_syntaxhighlighter.css
-------------------------------------------------*/
/*
	XS Syntax Highlighter CSS
*/
.content .syntax {
	color: #444;
	display: block;
	margin: 5px 1px;
	width: auto;
	border: solid 1px #D0D0D0;
	background-color: #FFF;
	padding: 5px;
	font-size: 0.9em;
	font-family: Courier, 'Courier New', sans-serif;
	line-height: 1.2em;
}
.content .syntax-header {
	margin: 0;
	margin-bottom: 5px;
	padding-left: 3px;
	padding-bottom: 3px;
	border-bottom: solid 1px #E0E0E0;
	font-size: 0.9em;
	line-height: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #808080;
}

.syntax-header a:link,
.syntax-header a:visited
{
	color: #666;
	text-decoration: none;
	border-bottom: dotted 1px #666;
}
.syntax-header a:hover,
.syntax-header a:active
{
	color: #FF1010;
	text-decoration: none;
	border-bottom: dotted 1px #FF1010;
}

.syntax-content { padding: 0; }

.syntax-list {
	margin-top: 3px;
	margin-right: 0;
	margin-bottom: 3px;
}

li.syntax-row { 
	margin-left: 12px;
	white-space: normal; 
	border-top: 1px #E0E0E0 solid;
	color: #BBB;
	wrap-option: emergency;
}
.syntax-row-text {
	color: #444;
}

div.syntax li.syntax-row-highlight {
	color: #FF1010;
	border-color: #D8D8D8;
}

div.syntax li.syntax-row-highlight .syntax-row-text, span.syntax-row-highlight {
	color: #FF1010;
}

li.syntax-row-first {
	border-top: none;
}
/* Mini Table */
.minitable {  
	color: #444;  
	display: block;  
	margin: 5px 20px;  
	border: solid 1px #D0D0D0;  
	background-color: #FFF;  
	font-size: 12px;  
}  
.minitable-header {  
	background: #fff url({T_THEME_PATH}/images/bg_header.gif) top left repeat-x;
	margin: 0;  
	margin-bottom: 5px;  
	padding-left: 5px;  
	padding-top: 7px;
	padding-right: 5px;
	border-bottom: solid 1px #D0D0D0;  
	font-size: 12px;  
	line-height: 1.2em;  
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-weight: bold;
	color: #EDEFF4;
	height: 21px;

}  
.minitable-hideme {  
	font-size: 10px;  
	line-height: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	font-weight: bold;
	color: #EEE;
	float: right;
}
.minitable-hideme a, .minitable-hideme a:visited {
	color: #eee;
	text-decoration: none;
}
.minitable-hideme a:hover {
	color: #fff;
	text-decoration: none;
}
.minitable-contents {  
	padding-left: 5px;  
	padding-right: 5px;  
	padding-bottom: 5px;  
	line-height: 1.5;
	text-align: left;
}  
/* Hide content */
.hide-contents,
.hide-contents .quote-message {
	color: #757575;
	background-color: #F2F2F2;
	border: 2px dotted #DEDEDE;
	text-align: left;
	padding: 5px;
}

/* portal.css
-------------------------------------------------*/

/* inner corners */

span.portal-corners-top-inner {
	margin: 0 -5px;
}

span.portal-corners-bottom-inner {
	margin: 0 -5px;
	clear: both;
}

span.portal-corners-top-inner, span.portal-corners-bottom-inner{
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

/* main menu, user menu and the links */

.portal-navigation{width: auto;}

.portal-navigation {
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.portal-navigation li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.portal-navigation li a{
background-image: url("{T_THEME_PATH}/images/portal/arrowbullet.gif");
background-repeat: no-repeat;
background-position: center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 19px; /*link text is indented 19px*/
font-weight: bold;
font-size: 90%;
}

.portal-navigation div.menutitle{
padding: 1px 0;
font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
font-size: 12px;
}

/* mChat
-------------------------------------------------*/
.mChatBodyFix {
	padding: 0 0 10px 0;
}

#mChatData {
	margin: 10px 0;
	overflow: hidden;
}

.mChatBG1 img:first-child, .mChatBG2 img:first-child {
	height: 40px;
	width: 40px;
	margin: 0 -30px 0 0;
	float: left;
	position: relative;
	left: -40px;
	overflow: hidden;
}

#mChatData .body {
	height: auto;
	overflow: hidden;
}

#mChatData .date {
	color: #606060;
	font-size: 0.9166em;
	margin-left: 0.25em;
}

#mChatData .meta {
	overflow: hidden;
}

.mChatPanel input {
	margin: 4px 0;
}

/**
*
* @package mChat ProSilver Style
* @version 1.3.1 27.08.2009
* @copyright (c) djs596 ( http://djs596.com/ ), (c) RMcGirr83 ( http://www.rmcgirr83.org/ ), (c) Stokerpiller ( http://www.phpbb3bbcodes.com/ )
* @license http://opensource.org/licenses/gpl-license.php GNU Public License
*
**/

.mChatBG1 {
	background-color: #F9F9F9;
	padding: 5px 5px 5px 50px;
	border-bottom: 1px dotted #DDDDDD;
	overflow: hidden;
}

.mChatBG2 {
	background-color: #FFFFFF;
	padding: 5px 5px 5px 50px;
	border-bottom: 1px dotted #DDDDDD;
	overflow: hidden;
}

div.mChatRowLimit {
	overflow: auto;
	width: 100%;
	height: 200px;
	position: relative;
}

div.mChatRowLimitCustom {
	overflow: auto;
	width: 100%;
	height: 500px;
}

div.mChatPanel {
	text-align: center;
	padding: 5px;
}

input.mChatText {
	cursor: text;
	width: 50%;
	background-color: #FFFFFF;
	border: 1px solid #B4BAC0;
	color: #333333;
	padding: 3px 5px 3px 5px;
	margin: 0 0px 0px 5px;
}

input.mChatText:hover {
	border-color: #11A3EA;
}

div.mChatHover:hover {
	background-color: #FFFEDE;
}

div.mChatBodyFix {
	width: 100% !important;
	background-color: #EEEEEE !important;
}

/* MCP Specific tweaks */
.mcp-main .kb-mcp-postbody {
	width: 76%;
}

.addthis_toolbox .custom_images a
{
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}

/*** INSTANT MESSENGER / STYLE FILE ***/


#site-bottom-bar, #site-bottom-bar-frame {
	bottom: 0;
	left: 20px;
	right: 20px;

	padding-left: 1px;
	padding-right: 1px;
	height: 26px;
	display: block;
	font-size: 11px;
}

.fixed-position {
	position: fixed;
	_position: absolute;
}

/* full background */

#site-bottom-bar {
	background: #E0E0E0 url("{T_THEME_PATH}/images/button_bg4.gif") repeat-x scroll 0 0;
	border: solid #999999;
	border-width: 1px 1px 0 1px;
	z-index: 100;
	height: 25px;
	_height: 26px;
	display: block;
	/*display:none;**/
}

#site-bottom-bar-frame {
	z-index: 101;
}

#site-bottom-bar-frame a:link,
#site-bottom-bar-frame a:active,
#site-bottom-bar-frame a:visited,
#site-bottom-bar-frame a:hover {
	font-weight: normal !important;
}

#site-bottom-bar-frame ul {
	list-style-type: none;
	margin-left: 0;
}

#site-bottom-bar-frame ul li{
	line-height: 1.5em;
	border-bottom: none;
	padding: 2px 4px;
}

#site-bottom-bar-frame ul li > a {
	display: block;
}


#site-bottom-bar-frame ul li:hover {
/*	color: #fff;*/
}
#site-bottom-bar-frame ul li > a:hover {
	background-color: #6D84B4;
	color: #fff;
	text-decoration: none;
}

#im_open {
	text-align: right;
	height: 26px;
	padding-left: 1px;
	padding-right: 1px;
	bottom: 0;
	left: 20px;
	right: 20px;
	z-index: 100;
	display: none;
}

#im_open .button {
	background: #E0E0E0 url("{T_THEME_PATH}/images/button_bg4.gif") repeat-x scroll 0 0;
	border: solid #999999;
	border-width: 1px 1px 0 1px;
	width: 34px;
	margin-right: 1px;
	float: right;
	right: 20px;
}

#im_open .button img {
	margin: 6px 9px 0;
}


#site-bottom-bar-frame .block-box {
	border-bottom: none;
	float: left;
	margin-right: -1px;
	margin-left: -1px;
}

#site-bottom-bar-frame .block-box:last-child{
	margin-right: 0px;
}

#site-bottom-bar-frame .rightside {
	border-left: 1px solid #999999;
	float: right;
}

#site-bottom-bar-frame .button {
	border-right: 1px solid #999999;
	z-index: 1100;
	padding: 0 10px;
	line-height: 25px;
	font-weight: bold;
	color: #212121;
	cursor: pointer;
}

#site-bottom-bar-frame .button.hovering {
	background: #fff none no-repeat 0 0;
	/*border-top: 1px solid #fff;*/
	color: #1F1F1F;
}

#site-bottom-bar-frame #im-online-list .button span {
	background: transparent none no-repeat 0 50%;
	padding-left: 20px;
}

#site-bottom-bar-frame .block {
	position: absolute;
	bottom: 25px;
	background-color: #fff;
	border: 1px solid #999;
	z-index: 999;
	width: 230px;
	display: none;
	overflow: hidden;
}


#site-bottom-bar-frame #im-online-list .button {
	width: 160px;
	font-weight: bold;
}

#site-bottom-bar-frame #im-online-list .block {
	width: 220px;
}

#site-bottom-bar-frame #im-online-list .button img {
	float: left;
	margin-right: 5px;
	padding: 7px 0;
}

#site-bottom-bar-frame #im-online-list span{
  vertical-align: top;
  background: transparent none no-repeat 100% 50%;
  font-weight: bold;
  line-height: 21px;
}

#site-bottom-bar-frame #im-online-list .block ul li img {
	float: left;
	margin-right: 5px;
	padding: 0;
}


#site-bottom-bar-frame #im-online-list .block .bcontent.links ul li span {
	font-weight: normal;
	border: 0;
}

#site-bottom-bar-frame #im-online-list .block .bcontent.links ul li:hover span {
	color: #fff;
}

#site-bottom-bar-frame #im-news .block {
	width: 260px;
}

#site-bottom-bar-frame #im-status .block {
	width: 290px;
}

#site-bottom-bar-frame .rightside .block {
	right: +1px;
	margin-right: -1px;
}

#site-bottom-bar-frame .block-box .block h3 {
	border-bottom:1px solid #CCCCCC;
	font-size:1.1em;
	background: #212121;
	padding: 4px 10px;
	margin: 0px 0px;
	color: #fff;
	font-weight: bold;
}

#site-bottom-bar-frame .block h3 a:link,
#site-bottom-bar-frame .block h3 a:active,
#site-bottom-bar-frame .block h3 a:visited,
#site-bottom-bar-frame .block h3 a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold !important;
}


#site-bottom-bar-frame .block .bcontent {
	padding: 2px 5px 5px;
	line-height: 1.2em;
	overflow: hidden;
}

#site-bottom-bar-frame .block .bcontent.links {
	padding: 0px;
}

#site-bottom-bar-frame .block .bcontent.links ul li{
	padding: 0px;
}

#site-bottom-bar-frame .block .bcontent.links ul li a,
#site-bottom-bar-frame .block .bcontent.links ul li span {
	padding: 1px 4px;
}

#site-bottom-bar-frame .block .bcontent.links ul li span {
	display: block;
	border-bottom: 1px solid #ccc;
}
#site-bottom-bar-frame .block .bcontent.links ul li:last-child span {
	border-bottom: 0px solid #ccc;
}

#site-bottom-bar-frame fieldset {
	border: none;
}

#site-bottom-bar-frame fieldset dl {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#site-bottom-bar-frame fieldset dt {
	width: 100%;
}

#site-bottom-bar-frame fieldset dd {
	margin-left: 0;
}

#site-bottom-bar-frame fieldset p {
	margin-top: 3px;
}

#site-bottom-bar-frame label, #site-bottom-bar-frame input.inputbox {
	float: left;
}

#site-bottom-bar-frame input.button1 {
	float: left;
	width: 100% !important;
}

#site-bottom-bar-frame input.button2 {
	float: left;
	width: 48% !important;
	margin-right: 3px;
}

#site-bottom-bar-frame p {
	margin-bottom: 0px;
}

#site-bottom-bar-frame blockquote.bubble_status {
   margin: 0;       
   padding: 5px 10px;
   border: 1px solid #c9c2c1;
   background-color: #fff;
   background-image: none;
}

.bubble blockquote {
	background-image: none;
	background-color: #fff;
	margin: 0;
	border-color: #c9c2c1;
}

.bubble blockquote p {
	margin: 0;
}

.postprofile .bubble, .left-box .bubble {
	margin: 5px 0 0 10px;
}

.left-box .bubble {
	margin-left: 0;
}

.postprofile .bubble cite, .left-box .bubble cite {
   position: relative;
   margin: 0px;
   padding: 0 0 0 15px;
   height: 7px;
   line-height: 7px;
   font-size: 7px;
   margin-bottom: -1px;
   background: transparent url('{T_THEME_PATH}/images/status_up.gif') no-repeat 20px 0;
   font-style: normal;
   display:block;
}

.left-box .bubble cite {
}

#site-bottom-bar-frame .down cite {
   background: transparent url('{T_THEME_PATH}/images/status_down.gif') no-repeat 20px -1px;
   display: block;
   height: 7px;
   top: -1px;
   position: relative;
}

/** OVERLAYs **/

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	display: none;
	z-index: 100;
	background-color: #000;
}

.overlay-text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	text-align: center;
	display: none;
	opacity: 1.0;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	line-height: 100%;
	width: 100%;
} 

/** Chat boxes **/

.chatbox {
	position: fixed;
	width: 236px;
	/*display:none;*/
	bottom: 26px;
}

.chatboxhead {
	background-color: #212121;
	padding:5px;
	color: #ffffff;
	border:1px solid #333333;
}

.chatboxtitle {
	float: left;
	font-weight:bold;
	font-size: 12px;
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: #ffffff;
	font-weight:bold;
}

.chatboxblink {
	background-color: #C80000;
	border:1px solid #333333;
}

.chatboxcontent {
	/*font-size: 13px;*/
	font-size: 1.1em;
	color: #000000;
	height:220px;
	width:220px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
  background: #ffffff url('{T_THEME_PATH}/images/im_text.gif') no-repeat 3px 7px;
  border:1px solid #93A2C1;
	border-bottom:0;
	padding:4px 0 4px 20px;
}

.chatboxtextarea {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
	width: 205px;
	height:16px;
	overflow:hidden;  
	border: 0;
  background: #ffffff;
}

.chatboxtextareaselected {
}

.chatboxmessage {
	margin-left:1em;
}

div.chatboxinfo{
	margin: 0px -5px;
	border-bottom: 1px solid #aaa;
}
span.chatboxinfo {
	padding-left:7px;
	color:#666666;
}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.table1 .rightside {
	float: right;
	padding-right: 3px;
}

/*
 * jQuery Nivo Slider v1.9
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*
 * Note: Include the nivo-slider.css file that comes
 * with the main download before including this file.
 */

.slider {
	position: relative;
	max-height: 400px;
	max-width: 98%;
	margin: 10px 1% 10px 1%;
	background: #202834 url({T_THEME_PATH}/images/loading.gif) no-repeat 50% 50%;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	-khtml-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
}
.slider img {
	position: absolute;
	top: 0px;
	left: 50%;
	right: 50%;
	display: none;
}
.slider a {
	border: 0;
}

.nivo-controlNav {
	position:absolute;
	left:47%;
	bottom:-30px;
}
.nivo-controlNav a {
	display:block;
	width:10px;
	height:10px;
	background:url({T_THEME_PATH}/images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:-10px 0;
}

.nivo-directionNav a {
	display:block;
	width:32px;
	height:34px;
	background:url({T_THEME_PATH}/images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-32px 0;
	right:10px;
}
a.nivo-prevNav {
	left:10px;
}

/* Aggregrations
-------------------------------------------------*/
.aggro { overflow: hidden; }

h2.aggro_head {
	font: 1.3333em Anivers-Regular;
	background-color: #212121;
	color: #FFFFFF;
	padding: 6px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	clear: both;
}

.aggro_item, .aggro_item_quad {
	border-bottom: 1px solid #E0E0E0;
	width: 33%;
	padding: 15px 0;
	float: left;
}
.aggro_item_quad { width: 25%; }

.aggro_item.video a, .aggro_item_quad.video a { background: url("{T_THEME_PATH}/images/movie.png") no-repeat scroll 10px center transparent; }
.aggro_item a, .aggro_item_quad a {
	text-decoration: none;
	background: url("{T_THEME_PATH}/images/doc_lines_straight.png") no-repeat scroll 10px center transparent;
	border-left: 1px solid #E0E0E0;
	height: 80px;
	padding: 0 15px 0 57px;
	display: inline-block;
}

.aggro_item:nth-child(n+5) { border: 0; }
.aggro_item:nth-child(3n+2) a { border: 0; }
.aggro_item_quad:nth-child(n+6) { border: 0; }
.aggro_item_quad:nth-child(4n+2) a { border: 0; }

.aggro_item p, .aggro_item_quad p {
	color: #606060;
	padding: 6px 0;
}

.aggro_item p strong, .aggro_item_quad p strong {
	color: #212121;
	font-weight: bold;
	line-height: 1em;
}

/* User tags
-------------------------------------------------*/
dl.user-tag  { background-color: #F6F6F6; border-bottom: 1px solid #C0C0C0; border-right: 1px solid #C0C0C0; width: 209px;  margin: 0 10px 10px 0; padding: 10px; display: inline-block; float: left;  overflow: hidden; }
dl.user-tag dt { float: left; height: 40px; width: 40px; margin-right: 10px; }
dl.user-tag dd { display: block; clear: right; }

/* Advertisements
-------------------------------------------------*/
.bottom-ad { border-top: 1px solid #E0E0E0; margin: 10px 0; padding-top: 10px; }
.bottom-ad img {  background-color: #FFFFFF;  border: 1px solid #C0C0C0;  padding: 4px; }
.bottom-ad div { font-size: 0.9166em; color: #606060; }
